{% load staticfiles %}<!doctype html>
<!--[if lt IE 7 ]><html class="ie6 ie67 ie no-js" lang="ru"><![endif]-->
<!--[if IE 7 ]>   <html class="ie7 ie67 ie no-js" lang="ru"><![endif]-->
<!--[if IE 8 ]>   <html class="ie8 ie no-js" lang="ru"><![endif]-->
<!--[if IE 9 ]>   <html class="ie9 ie no-js" lang="ru"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="ru" class="no-js"><!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:image" content="{% block facebook %}{% static 'images/elements/logo-short.png' %}{% endblock %}"/>
    {% block twitter %}
        <meta name="twitter:url" content="{{ request.build_absolute_uri }}">
        <meta name="twitter:site" content="@moscowdjango">
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/libs/modernizr-2.5.3.min.js' %}"></script>

    <title>&#9733; MoscowPython Meetup</title>

    {% block css %}
        <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    {% include 'blocks/ga.html' %}
</head>

<body>
<div class="body-container">

    <header>
        <div class="container">
            <div class="content">
                <div class="logo"><a href=""></a></div>
                <div class="pull-right text-right">
                    <a class="btn btn-join" href="#">Присоединиться</a>
                </div>
                <nav class="text-center">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li><a href="">Преимущества</a></li>
                        <li><a href="">О проекте</a></li>
                        <li><a href="">Люди</a></li>
                        <li><a href="">Контакты</a></li>
                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>

    <section id="section-main" class="main">
        <div class="container">
            <div class="header">
                <h1 class="heading"><span>Moscow Django Meetup №28</span></h1>
                <div class="arrow"></div>
            </div>
            <div class="body">
                <div class="signup-form-block">
                    <h3 class="title">Принять участие в Meetup №28</h3>
                    <form class="signup-form">
                        <input type="text" placeholder="Ваше имя">
                        <input type="email" placeholder="Email">
                        <input type="text" placeholder="Телефон">
                        <div class="text-center submit">
                            <a class="btn btn-signup signup btn-large">Зарегистрироваться</a>
                        </div>
                    </form>
                </div>
                <div class="program">
                    <div class="speech">
                        <div class="announce">
                            <div class="speaker">Артем Безукладичный</div>
                            <div class="time">13<sup>15</sup>-13<sup>45</sup></div>
                        </div>
                        <h2>Обзор и сравнение методов реализации REST API в django</h2>
                    </div>
                    <div class="speech">
                        <div class="announce">
                            <div class="speaker">Артем Безукладичный</div>
                            <div class="time">13<sup>15</sup>-13<sup>45</sup></div>
                        </div>
                        <h2>Обзор и сравнение методов реализации REST API в django</h2>
                    </div>
                    <div class="speech">
                        <div class="announce">
                            <div class="speaker">Артем Безукладичный</div>
                            <div class="time">13<sup>15</sup>-13<sup>45</sup></div></div>
                        <h2>Обзор и сравнение методов реализации REST API в django</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-icons" class="icons">
        <div class="container">
            <ul class="text-center">
                <li class="icon-block text-center"><a href="#">
                    <div class="icon icon-printer"></div>
                    <div class="text">Какой-то текст длинный</div>
                </a></li>
                <li class="icon-block text-center"><a href="#">
                    <div class="icon icon-printer"></div>
                    <div class="text">Какой-то текст</div>
                </a></li>
                <li class="icon-block text-center"><a href="#">
                    <div class="icon icon-printer"></div>
                    <div class="text">Какой-то текст</div>
                </a></li>
                <li class="icon-block text-center"><a href="#">
                    <div class="icon icon-printer"></div>
                    <div class="text">Какой-то текст</div>
                </a></li>
                <li class="icon-block text-center"><a href="#">
                    <div class="icon icon-printer"></div>
                    <div class="text">Какой-то текст</div>
                </a></li>

            </ul>
        </div>
    </section>
    <section id="section-about" class="about">
        <div class="container">
            <div class="body">
                <h1 class="heading"><span>О&nbsp;проекте</span></h1>
                <p>Moscow Django Meetup — это ежемесячные встречи разработчиков на Джанго.</p>
                <p>Несколько человек выступают перед публикой с докладами, так или иначе связанными с веб-разработкой, Python и Django.</p>

                <p>Не обходится и без самого интересного: общения в кулуарах.</p>
                <p>Не обходится и без самого интересного: общения в кулуарах.</p>
                <p>Не обходится и без самого интересного: общения в кулуарах.</p>
                <p>Не обходится и без самого интересного: общения в кулуарах.</p>

                <p class="important">Участие во всех встречах <span>халявное</span>, что очень круто</p>

                <div class="text-center signup">
                    <a class="btn btn-signup btn-default btn-grey btn-large">Зарегистрироваться</a>
                </div>

            </div>
        </div>
    </section>

    <section id="section-speakers" class="speakers">
        <div class="container">
            <h1 class="heading"><span>Люди</span></h1>
            <ul class="speakers text-center">
                <li class="speaker text-center">
                    <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}" align="center"></div>
                    <div class="name">Фамилия Длинноимя</div>
                    <div class="desc">Компания наверное</div>
                </li>
                <li class="speaker text-center">
                    <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                    <div class="name">Фамилия Длинноимя</div>
                    <div class="desc">Компания наверное</div>
                </li>
                <li class="speaker text-center">
                    <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                    <div class="name">Фамилия Длинноимя</div>
                    <div class="desc">Компания наверное</div>
                </li>
                <li class="speaker text-center">
                    <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                    <div class="name">Фамилия Длинноимя</div>
                    <div class="desc">Компания наверное</div>
                </li>
                <li class="speaker text-center">
                    <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                    <div class="name">Фамилия Длинноимя</div>
                    <div class="desc">Компания наверное</div>
                </li>
                <li class="speaker text-center">
                    <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                    <div class="name">Фамилия Длинноимя</div>
                    <div class="desc">Компания наверное</div>
                </li>
                <li class="speaker text-center">
                    <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                    <div class="name">Фамилия Длинноимя</div>
                    <div class="desc">Компания наверное</div>
                </li>
                <li class="speaker text-center">
                    <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                    <div class="name">Фамилия Длинноимя</div>
                    <div class="desc">Компания наверное</div>
                </li>
                <li class="speaker text-center">
                    <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                    <div class="name">Фамилия Длинноимя</div>
                    <div class="desc">Компания наверное</div>
                </li>
                <li class="speaker new-speaker text-center"><a href="#">
                    <div class="star">&#9733;</div>
                    Выступить с&nbsp;докладом
                </a></li>
            </ul>
        </div>
    </section>

    <section id="section-archive" class="archive">
        <div class="container">
            <h1 class="heading"><span>Meetup Архив</span></h1>
            <ul class="meetups">
                <li>
                    <h3>Meetup №27</h3>
                    <ul class="speeches">
                        <li class="speech">
                            <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                            <div class="theme">
                                <h3>Обзор и сравнение методов реализации REST API в django</h3>
                                <div class="name">Имя Фамилия</div>
                            </div>
                        </li>
                        <li class="speech">
                            <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                            <div class="theme">
                                <h3>Обзор и сравнение методов реализации REST API в django</h3>
                                <div class="name">Имя Фамилия</div>
                            </div>
                        </li>
                        <li class="speech">
                            <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                            <div class="theme">
                                <h3>Обзор и сравнение методов реализации REST API в django</h3>
                                <div class="name">Имя Фамилия</div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>Meetup №27</h3>
                    <ul class="speeches">
                        <li class="speech">
                            <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                            <div class="theme">
                                <h3>Обзор и сравнение методов реализации REST API в django</h3>
                                <div class="name">Имя Фамилия</div>
                            </div>
                        </li>
                        <li class="speech">
                            <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                            <div class="theme">
                                <h3>Обзор и сравнение методов реализации REST API в django</h3>
                                <div class="name">Имя Фамилия</div>
                            </div>
                        </li>
                        <li class="speech">
                            <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                            <div class="theme">
                                <h3>Обзор и сравнение методов реализации REST API в django</h3>
                                <div class="name">Имя Фамилия</div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>Meetup №27</h3>
                    <ul class="speeches">
                        <li class="speech">
                            <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                            <div class="theme">
                                <h3>Обзор и сравнение методов реализации REST API в django</h3>
                                <div class="name">Имя Фамилия</div>
                            </div>
                        </li>
                        <li class="speech">
                            <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                            <div class="theme">
                                <h3>Обзор и сравнение методов реализации REST API в django</h3>
                                <div class="name">Имя Фамилия</div>
                            </div>
                        </li>
                        <li class="speech">
                            <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                            <div class="theme">
                                <h3>Обзор и сравнение методов реализации REST API в django</h3>
                                <div class="name">Имя Фамилия</div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </section>

    <section id="section-contacts" class="contacts">
        <div class="container">
            <div class="header">
                <h1 class="heading"><span>Остались вопросы?</span></h1>
                <div class="subheading">Свяжитесь с нами, используя форму или позвоните по телефону:</div>
                <div class="phone">
                    +7 (123) 456-78-90
                </div>

            </div>

            <div class="contact-form-block">
                    <h3 class="title">Связаться с нами</h3>
                    <form class="contact-form">
                        <input type="text" placeholder="Ваше имя">
                        <input type="email" placeholder="Email">
                        <textarea placeholder="Сообщение"></textarea>
                        <div class="text-center submit">
                            <a class="btn btn-signup signup">Отправить</a>
                        </div>
                    </form>
                </div>
        </div>
    </section>

</div>

</body>
</html>
