{% load staticfiles %}<!doctype html>
<!--[if lt IE 7 ]><html class="ie6 ie67 ie no-js" lang="ru"><![endif]-->
<!--[if IE 7 ]>   <html class="ie7 ie67 ie no-js" lang="ru"><![endif]-->
<!--[if IE 8 ]>   <html class="ie8 ie no-js" lang="ru"><![endif]-->
<!--[if IE 9 ]>   <html class="ie9 ie no-js" lang="ru"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="ru" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:image" content="{% block facebook %}{% static 'images/elements/logo-short.png' %}{% endblock %}"/>
    {% block twitter %}
        <meta name="twitter:url" content="{{ request.build_absolute_uri }}">
        <meta name="twitter:site" content="@moscowdjango">
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/libs/modernizr-2.5.3.min.js' %}"></script>

    <title>{% block title %}{% endblock %}</title>

    {% block css %}
        <link href='//fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/event.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/talk.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/gallery.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/content-page.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/subscription.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/speaker.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/vacancies.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/tutorials.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/vote.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/share.css' %}" type="text/css" />
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    {% include 'blocks/ga.html' %}
</head>
<body>
    {% block layout %}{% endblock %}

    {% block js %}
        <script type="text/javascript" src="{% static 'js/libs/jquery-1.7.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery.form.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vote.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/libs/social-likes-3.0.13.min.js' %}"></script>
    {% endblock %}
    {% include 'blocks/metrika.html' %}
</body>
</html>
