Django>=1.8,<1.9
Pillow==2.9.0
django-model-utils==2.3.1
django-picklefield==0.3.2
# fork for deepcopy workaround
-e git+https://github.com/coagulant/embedly-python@raw_data#egg=embedly
pytils==0.3
-e git+https://github.com/coagulant/django-storages-py3@bf64ba562c06fb366a84e73e7a258d54627bd172#egg=storages
docutils==0.11
requests==2.7.0
Markdown==2.6.2
django-suit==0.2.14
-e git+https://github.com/mvasilkov/django-google-charts#egg=django-google-charts
python-dateutil==2.4.2
whitenoise==2.0.4

# celery
celery==3.1.18
kombu==3.0.26
billiard==3.3.0.20
pytz==2015.6
amqp==1.4.6
anyjson==0.3.3

# development
django-sslserver==0.15
pytest-django==2.8.0
pytest-cov==2.1.0
responses==0.4.0
django-debug-toolbar==1.3.2
coveralls>=1.0
-e git+https://github.com/bitly/bitly-api-python@8f51e7775938238398da4c8cb619dd3609c76f3d#egg=bitly_api-master

# heroku
psycopg2==2.6.1
dj-database-url==0.3.0
