Django>=1.6,<1.7
Pillow==2.4.0
django-model-utils==2.0.3
django-picklefield==0.3.1
-e git+https://github.com/coagulant/embedly-python@raw_data#egg=embedly  # fork for deepcopy workaround
pytils==0.3
##django-admin-sso==0.1.1 # FIXME
-e git+https://github.com/coagulant/django-storages-py3@bf64ba562c06fb366a84e73e7a258d54627bd172#egg=storages
docutils==0.11
South==0.8.4
requests==2.3.0
Markdown==2.4.1
django-suit==0.2.8
-e git+https://github.com/mvasilkov/django-google-charts#egg=django-google-charts
arrow==0.4.2
python-dateutil==2.2
xmltodict==0.9.0

# celery
celery==3.1.12
kombu==3.0.19
billiard==3.3.0.17
pytz==2014.4
amqp==1.4.5
anyjson==0.3.3

#development
httpretty==0.8.0
django-debug-toolbar==1.2.1
django-nose==1.2
coveralls

#heroku
psycopg2==2.5.3
dj-database-url==0.3.0
