{% extends 'layout/body.html' %}


{% load url from future %}


{% block layout %}
    <header class="header">
        <div class="wrapper">
            <nav class="menu">
                <ul class="menu__items">
                    <li class="menu__item">
                        <a class="menu__link" href="{% url 'index' %}">Главная</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="">События</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="">О проекте</a>
                    </li>
                    <li class="menu__item">
                        <span class="menu__coming-soon">Полезные ссылки</span>
                    </li>
                </ul>
            </nav>
            <aside class="search">
                <form action="">
                    <input class="search__query" type="text" placeholder="Поиск по сайту" /><!--
                 --><button class="search__submit" type="submit">
                        <span class="search__submit-text">Найти</span>
                    </button>
                </form>
            </aside>
        </div>
    </header>
    <div class="content-wrapper">
        {% block page %}{% endblock %}
    </div>
    <footer class="footer">
        <div class="wrapper">
            <ul class="footer__menu">
                <li class="footer__menu-item">
                    <a class="footer__menu-link" href="">О проекте</a>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__menu-link" href="">Обратная связь</a>
                </li>
            </ul>
            <span class="footer__copyright">
                &copy; <a class="footer__copyright-link" href="">Future Colors</a>, 2012
            </span>
        </div>
    </footer>
{% endblock %}
