{% extends 'layout/body.html' %}


{% load url from future %}


{% block layout %}
    <header class="header">
        <div class="wrapper">
            <nav class="menu">
                <ul class="menu__items">
                    <li class="menu__item">
                        <a class="menu__link" href="{% url 'index' %}">Главная</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="">События</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="">О проекте</a>
                    </li>
                    <li class="menu__item">
                        <span class="menu__coming-soon">Полезные ссылки</span>
                    </li>
                </ul>
            </nav>
            {% comment %}
            <aside class="search">
                <form action="">
                    <input class="search__query" type="text" />
                    <input class="search__submit" type="submit" value="Найти" />
                    <span class="search__strut"></span>
                </form>
            </aside>
            <nav class="user-menu">
                <img class="user-menu__avatar" src="https://si0.twimg.com/profile_images/1894545057/ilya_normal.jpg" />
                <a class="user-menu__name" href="">Илья Барышев</a>
            </nav>
            {% endcomment %}
        </div>
    </header>
    {% comment %}
    {% block page %}{% endblock %}
    <footer class="footer">
        <div class="wrapper">
            <nav class="footer__menu">
                <a class="footer__menu-link" href="">О проекте</a>
                <a class="footer__menu-link" href="">Обратная связь</a>
            </nav>
            <span class="footer__copyright">
                &copy; 2012 <a class="footer__copyright-link" href="">Future Colors</a>
            </span>
        </div>
    </footer>
    {% endcomment %}
{% endblock %}
