Привет, {{ first_name }} {{ last_name }}!

Меня зовут Илья Барышев, я отвечаю за сайт ежемесячных встреч python-сообщества MoscowDjango.

Вы регистрировались на последний Meetup, поэтому я предположил, что
вам интересно регулярно узнавать об анонсах наших событий, публикациях
материалов докладов и быть в курсе новостей сообщества MoscowDjango.

Подписаться на нашу рассылку можно тут:
{{ url }}

Письма приходят 2-3 раза в месяц. Пишу их я, а помогают мне в этом коллеги-организаторы.
Пример рассылки: http://bit.ly/mskdjango-letter

Если рассылка не интересна, то мы впредь не побеспокоим вас, обещаем.

С уважением, команда MoscowDjango
https://moscowdjango.ru
