/**
 * Подписка на рассылку
 *
 * @package     moscowdjango
 * @version     0.1
 * @author      Golikov Artem <art@futurecolors.ru>
 * @copyright   Future Colors
 */


/**
 * @section     Подписка на рассылку
 */

.subscription {
    font-size: 14px;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    color: #000000;
    text-align: left;
    margin: 0 auto 30px;
    width: 302px;
}
.subscription__header {
    margin: 0 0 15px;
    text-transform: uppercase;
    font-size: 13px;
    color: #603913;
}
.subscription__email {
    height: 32px;
    width: 190px;
    margin-bottom: 10px;
    padding: 0 10px;
    vertical-align: middle;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #999;
    background: white;
    border: 1px solid #bbb;
    border-top: 1px solid #ababab;
    border-radius: 5px;
    outline: none;
}
.subscription__submit {
    width: 150px;
    height: 32px;
    margin-bottom: 10px;
    padding: 0 0 2px;
    background: rgb(12,126,51);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjN2UzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzQ5MWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(12,126,51,1) 0%, rgba(7,73,29,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(12,126,51,1)), color-stop(100%,rgba(7,73,29,1)));
    background: -webkit-linear-gradient(top,  rgba(12,126,51,1) 0%,rgba(7,73,29,1) 100%);
    background: -o-linear-gradient(top,  rgba(12,126,51,1) 0%,rgba(7,73,29,1) 100%);
    background: -ms-linear-gradient(top,  rgba(12,126,51,1) 0%,rgba(7,73,29,1) 100%);
    background: linear-gradient(to bottom,  rgba(12,126,51,1) 0%,rgba(7,73,29,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c7e33', endColorstr='#07491d',GradientType=0 );
    border: none;
    border-radius: 5px;
}
.subscription__submit:active {
    background: rgb(7,73,29);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA3NDkxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYzdlMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(7,73,29,1) 0%, rgba(12,126,51,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,73,29,1)), color-stop(100%,rgba(12,126,51,1)));
    background: -webkit-linear-gradient(top,  rgba(7,73,29,1) 0%,rgba(12,126,51,1) 100%);
    background: -o-linear-gradient(top,  rgba(7,73,29,1) 0%,rgba(12,126,51,1) 100%);
    background: -ms-linear-gradient(top,  rgba(7,73,29,1) 0%,rgba(12,126,51,1) 100%);
    background: linear-gradient(to bottom,  rgba(7,73,29,1) 0%,rgba(12,126,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07491d', endColorstr='#0c7e33',GradientType=0 );
}
.subscription__submit-text {
    display: inline-block;
    height: 28px;
    line-height: 30px;
    font-size: 16px;
    color: white;
}
.subscription__fail {
    font-size: 14px;
    color: #a00;
}
.subscription__ok {
    font-size: 14px;
    color: rgb(12,126,51);
}
