/**
 * Туториалы
 *
 * @package     moscowdjango
 * @version     0.1
 * @author      Golikov Artem <art@futurecolors.ru>
 * @copyright   Future Colors
 */


/**
 * @section     Тизер туториала
 */

.tutorial-teaser {
    display: inline-block;
    width: 100%;
    padding: 23px 0 25px;
    background: url(../images/elements/talk-separator.png) 0 100% repeat-x;
}
.tutorial-teaser:last-of-type {
    background: none;
}
.tutorial-teaser__speaker-link {
    width: 136px;
    float: left;
    text-align: center;
}
.tutorial-teaser__speaker-link:hover {
    text-decoration: none;
}
.touch .tutorial-teaser__speaker-link {
    text-decoration: none;
}
.tutorial-teaser__avatar {
    display: inline-block;
    width: 68px;
    height: 68px;
    overflow: hidden;
    margin-bottom: 3px;
    border-radius: 34px;
}
.tutorial-teaser__avatar img {
    width: 68px;
    height: 68px;
}
.tutorial-teaser__speaker {
    line-height: 1.3;
    font-size: 12px;
    color: #603913;
}
.touch .tutorial-teaser__speaker {
    text-decoration: underline;
}
.tutorial-teaser__content {
    margin-left: 160px;
}
.tutorial-teaser__title {
    font-family: 'PT Sans', sans-serif;
    margin: 0 0 8px;
}
.tutorial-teaser__title-link {
    font-size: 26px;
    font-weight: normal;
    line-height: 30px;
    color: #0a6629;
}
.tutorial-teaser__description {
    line-height: 1.5;
    font-size: 12px;
    color: #404040;
}


/**
 * @section     Туториал
 */

.tutorial {}
.tutorial__home {
    margin: 0 0 5px 160px;
    font-size: 15px;
    color: #603913;
}
.tutorial__home a {
    color: #603913;
}
.tutorial__name {
    margin: 0 0 20px 160px;
    font-size: 31px;
    font-weight: normal;
    color: #0a6629;
}
.tutorial__about {}
.tutorial__about-aside {
    width: 136px;
    float: left;
    text-align: center;
}
.tutorial__avatar {
    display: inline-block;
    width: 114px;
    height: 114px;
    overflow: hidden;
    margin-bottom: 3px;
    border-radius: 57px;
}
.tutorial__avatar img {
    width: 114px;
    height: 114px;
}
.tutorial__speaker {
    display: block;
    line-height: 1.3;
    font-size: 12px;
    color: #603913;
}
.tutorial__description-wrapper {
    margin: 0 0 10px 160px;
}
.tutorial__description {
    line-height: 1.5;
    font-size: 14px;
    color: #404040;
}
