/**
 * Общие стили
 *
 * @package     moscowdjango
 * @version     0.1
 * @author      Golikov Artem <art@futurecolors.ru>
 * @copyright   Future Colors
 */


/**
 * @section     Общие стили
 */


/**
 * @subsection  Эмуляция тегов и поведений
 */

.g-clear {
    clear: both;
    overflow: hidden;
    height: 0;
    font-size: 0;
}
.g-nobr {
    white-space: nowrap;
}
.g-visible {
    display: block;
}


/**
 * Убираем рамочку при нажатии на кнопку
 * @css-for     FF
 * @link        http://forums.mozillazine.org/viewtopic.php?f=25&t=451213&st=0&sk=t&sd=a&start=0
 */
input[type="submit"]::-moz-focus-inner {
    border: none;
}


/**
 * @subsection  Сокрытие элементов при включённом js
 */

.g-nojsshow {
    display: none;
}
.no-js .g-nojsshow,
.no-animation .g-nojsshow {
    display: block;
}
.no-js .g-nojshide,
.no-animation .g-nojshide {
    display: none;
}
.g-hide {
    display: none;
}
.jsdisabled {
    font-size: 12px;
    display: inline-block;
    margin: 10px 0px;
    padding: 3px;
    background: #fffe35;
}


/**
 * @section     Обёртка
 */

html {
    height: 100%;
    -webkit-text-size-adjust: none;
}
body {
    position: relative;
    min-height: 100%;
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
    border-top: 7px solid #0a6629;
}
.wrapper {
    max-width: 952px;
    margin: 0 auto;
    padding: 0 20px;
}
.content-wrapper {
    padding-bottom: 105px;
}
@media screen and (max-width: 770px) {
    .content-wrapper {
        padding-bottom: 65px;
    }
}
@media screen and (max-width: 600px) {
    .content-wrapper {
        padding-bottom: 40px;
    }
}


/**
 * @section     Ссылки
 */

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.touch a {
    text-decoration: underline;
}
