/**
 * Контентные страницы
 *
 * @package     moscowdjango
 * @version     0.1
 * @author      Golikov Artem <art@futurecolors.ru>
 * @copyright   Future Colors
 */


/**
 * @section     Контентные страницы
 */

.content-page {
    margin: 25px 0;
    clear: both;
}
.content-page .g-content {
    max-width: 600px;
}
.content-page__header {
    margin: 0 0 20px;
    font-size: 31px;
    font-weight: normal;
    color: #0a6629;
}


/**
 * @section     Произвольный контент
 */

.g-content {
    font-size: 14px;
    line-height: 22px;
}
.g-content p {
    margin: 0 0 10px;
}
.g-content a {
    color: #0a6629;
}
