/**
 * Контентные страницы
 *
 * @package     moscowdjango
 * @version     0.1
 * @author      Golikov Artem <art@futurecolors.ru>
 * @copyright   Future Colors
 */


/**
 * @section     Контентные страницы
 */

.content-page {
    margin: 25px 0;
    clear: both;
}
.content-page .g-content {
    max-width: 600px;
}
.g-huge {
    max-width: inherit;
    font-size: 300%;
    line-height: 2;
}
.content-page__header {
    margin: 0 0 20px;
    font-size: 31px;
    font-weight: normal;
    color: #0a6629;
}
.content-page__header_page_tutorials {
    margin: 30px 0 20px 160px;
}
.content-page__header-counter {
    padding-left: 10px;
    font-size: 23px;
    color: #aaa;
}
.content-page__sub-header {
    margin: -15px 0 20px;
    font-size: 23px;
    font-weight: normal;
    color: #603913;
}


/**
 * @section     Произвольный контент
 */

.g-content {
    font-size: 14px;
    line-height: 22px;
}
.g-content p {
    margin: 0 0 10px;
}
.g-content a {
    color: #0a6629;
}
.g-content ul {
    margin: 0 0 20px 20px;
    list-style: none;
}
.g-content ol {
    margin: 0 0 20px 20px;
}
.g-content li {
    position: relative;
    margin-bottom: 5px;
}
.g-content ul li:before {
    position: absolute;
    left: -20px;
    content: "—";
    color: #464683;
}
