/**
 * Стили про митап
 *
 * @package     moscowdjango
 * @version     0.1
 * @author      Golikov Artem <art@futurecolors.ru>
 * @copyright   Future Colors
 */


/**
 * @section     Стили про митап
 */


/**
 * @subsection  Анонс митапа
 */

.event {
    margin: 30px 0;
}
.event_with-dash {
    margin-right: 15px;
}
.event-title {
    margin-bottom: 15px;
}
.event-title__logo {
    float: left
}
.event-title__name {
    margin: 0 0 0 120px;
    line-height: 2;
    font-size: 300%;
}
.event-title__description {
    margin-left: 120px;
    font-size: 160%;
    color: #777;
}
.event-title__date {
    margin-left: 120px;
    font-size: 160%;
}
.event__talks {
    list-style: none;
    width: 60%;
    float: left;
}
.event__talk {
    position: relative;
    padding: 0 0 15px 60px;
    min-height: 60px;
}
.event__talk-title {
    display: block;
    margin-bottom: 0.1em;
    font-size: 160%;
}
.event__talk-author {
    margin-bottom: 0.2em;
    font-size: 140%;
    color: #777;
}
.event__talk-avatar {
    position: absolute;
    top: 0;
    left: 0;
}
.event__talk-description {
    font-size: 120%;
}
.event__info {
    float: right;
    width: 35%;
    font-size: 140%;
}
.event__map {
    margin: 1em 0;
    height: 300px;
    border: 2px solid #3a2;
    background: #e7f2b3;
}
.event__map_small {
    height: 150px;
}
.event__links {
    margin: 1em 0 3em;
    float: right;
    width: 35%;
    list-style: none;
}
.event__link {
    position: relative;
    padding: 0 0 1.5em 2em;
}
.event__link-link {
    text-decoration: none;
}
.event__link-icon {
    position: absolute;
    top: 0;
    left: 1em;
    width: 16px;
    height: 16px;
    margin-left: -16px;
    vertical-align: middle;
}
.event__link-name {
    vertical-align: middle;
    text-decoration: underline;
    font-size: 150%;
}
.event__sponsors {
    margin: 1em 0;
    text-align: center;
}
.event__sponsor {
    margin: 10px 15px;
    vertical-align: middle;
}
.event__gallery {
    margin: 2em 0;
    white-space: nowrap;
    overflow: hidden;
}
.event__gallery-image {
    position: relative;
    padding: 4px;
    border: 1px solid #ccb;
    background: white;
}


/**
 * @subsection  Блок регистрации
 */

.register {
    float: right;
    margin: 15px 0 0 15px;
    background: #170;
    cursor: pointer;
}
.register_closed {
    background: #aaa;
}
.register__link {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
.register__finishing {
    font-size: 140%;
    font-style: italic;
    color: #ded;
}
.register__text {
    margin: 0.4em 0;
    font-size: 180%;
    color: white;
}
.register__registred {
    font-size: 140%;
    font-style: italic;
    color: #ded;
}
.register__summary {
    margin: 1.5em 1em;
    font-size: 140%;
    font-style: italic;
    color: #eee;
}


/**
 * @subsection  Архив митапов
 */

.archive {
    padding: 15px 0;
    background: url(../images/backgrounds/archive.png) 0 0 repeat;
}
.archive-item {
    margin-bottom: 5px;
}
.archive-item__title {
    margin: 0 0 26px;
    line-height: 60px;
    font-size: 24px;
    font-weight: normal;
    border-bottom: 4px double #c3c3c3;
}
.archive-item__link {
    color: black;
}
.archive-item__number {
    color: #0a6629;
}
.archive-item__description {
    float: left;
    width: 304px;
    line-height: 1.2;
    font-size: 12px;
    color: #303030;
}
.archive-item__description p {
    margin: 0 0 8px;
}
.archive-item__talks {
    margin: 0 -20px 0 324px;
    list-style: none;
}
.archive-item__talk {
    display: inline-block;
    width: 50%;
    margin-bottom: 30px;
    vertical-align: top;
}
.archive-item__talk-avatar {
    float: left;
}
.archive-item__talk-wrapper {
    margin: 0 20px 0 70px;
}
.archive-item__talk-title {
    display: block;
    margin-bottom: 5px;
    line-height: 1.2;
    font-size: 14px;
    color: #0a6629;
}
.archive-item__talk-author {
    line-height: 1.2;
    font-size: 12px;
    color: #603913;
}


/**
 * @subsection  Карточка события
 */

.event-card {
    position: relative;
    z-index: 1;
    margin: 0 0 2em 2em;
    padding: 1em;
    float: right;
    background: #9b9575;
}
.event-card a {
    text-decoration: none;
}
.event-card__name {
    text-align: center;
    color: white;
    font-size: 160%;
    display: block;
}
.event-card__number {
    margin: 0.5em 0 1em;
    font-size: 150%;
}
.event-card__date {
    text-align: center;
    color: #fffff0;
    font-size: 160%;
}


/**
 * @section     Лайк митапа
 */

.like {
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #ccb;
}
.like_item {
    display: inline-block;
    margin: 0 15px;
}


/**
 * @section     Анонс даша
 */

.dash {
    width: 25%;
    padding: 15px;
    vertical-align: top;
    text-align: center;
    border-left: 1px solid #ccb;
    border-right: 1px solid #ccb;
    background: #eee;
}
.dash__text {
    margin: 1.5em 0;
    line-height: 1.6;
    font-size: 140%;
    color: #333;
}
.dash__text_small {
    font-size: 120%;
    color: #555;
}
