/**
 * Стили про митап
 *
 * @package     moscowdjango
 * @version     0.1
 * @author      Golikov Artem <art@futurecolors.ru>
 * @copyright   Future Colors
 */


/**
 * @section     Стили про митап
 */


/**
 * @subsection  Анонс митапа
 */

.event {
    clear: both;
    border-bottom: 4px solid #0a6629;
}
.event-header {
    height: 103px;
    background: #0a6629;
    border-bottom: 10px solid #085221;
}
.event__date {
    width: 150px;
    float: left;
    line-height: 124px;
    font-size: 20px;
    color: #92cc47;
}
.event__title {
    margin-left: 160px;
    line-height: 110px;
    font-size: 47px;
    color: #92cc47;
}
.event__type {
    color: white;
}
.event__information {
    width: 304px;
    padding-bottom: 30px;
    float: right;
}
.event__registration {
    padding: 15px 17px;
    background: #f2f2f2;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.event__registration-summary {
    padding-bottom: 10px;
    line-height: 1.5;
    font-size: 14px;
}
.event__register-button {
    width: 100%;
    height: 50px;
    padding: 0 0 2px;
    background: rgb(12,126,51);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjN2UzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzQ5MWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(12,126,51,1) 0%, rgba(7,73,29,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(12,126,51,1)), color-stop(100%,rgba(7,73,29,1)));
    background: -webkit-linear-gradient(top,  rgba(12,126,51,1) 0%,rgba(7,73,29,1) 100%);
    background: -o-linear-gradient(top,  rgba(12,126,51,1) 0%,rgba(7,73,29,1) 100%);
    background: -ms-linear-gradient(top,  rgba(12,126,51,1) 0%,rgba(7,73,29,1) 100%);
    background: linear-gradient(to bottom,  rgba(12,126,51,1) 0%,rgba(7,73,29,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c7e33', endColorstr='#07491d',GradientType=0 );
    border: none;
    border-radius: 5px;
}
.event__register-button:active {
    background: rgb(7,73,29);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA3NDkxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYzdlMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(7,73,29,1) 0%, rgba(12,126,51,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,73,29,1)), color-stop(100%,rgba(12,126,51,1)));
    background: -webkit-linear-gradient(top,  rgba(7,73,29,1) 0%,rgba(12,126,51,1) 100%);
    background: -o-linear-gradient(top,  rgba(7,73,29,1) 0%,rgba(12,126,51,1) 100%);
    background: -ms-linear-gradient(top,  rgba(7,73,29,1) 0%,rgba(12,126,51,1) 100%);
    background: linear-gradient(to bottom,  rgba(7,73,29,1) 0%,rgba(12,126,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07491d', endColorstr='#0c7e33',GradientType=0 );
}
.event__register-button-text {
    display: inline-block;
    height: 35px;
    padding: 0 12px 0 42px;
    line-height: 40px;
    font-size: 22px;
    color: white;
    background: url(../images/icons/beer.png) 0 50% no-repeat;
}
.event__description {
    padding: 15px 17px;
    line-height: 1.4;
    font-size: 14px;
    color: #303030;
    background: #f2f2f2 url(../images/backgrounds/event-description.png) 0 0 repeat-x;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.event__description p {
    margin: 0;
    padding-bottom: 5px;
}
.event__description p:last-child {
    padding-bottom: 0;
}
.event__map {
    height: 300px;
    background: #bebebe;
}
.event__talks {
    margin-right: 324px;
}
.event__talk {
    display: inline-block;
    width: 100%;
    padding: 23px 0 25px;
    background: url(../images/elements/talk-separator.png) 0 100% repeat-x;
}
.event__talk:last-of-type {
    background: none;
}
.event__talk-aside {
    width: 136px;
    float: left;
    text-align: center;
}
.event__talk-avatar {
    display: inline-block;
    width: 68px;
    height: 68px;
    overflow: hidden;
    margin-bottom: 3px;
    border-radius: 34px;
}
.event__talk-avatar img {
    width: 68px;
    height: 68px;
}
.event__talk-speaker {
    line-height: 1.3;
    font-size: 12px;
    color: #603913;
}
.event__talk-content {
    margin-left: 160px;
}
.event__talk-title {
    margin: 0 0 5px;
}
.event__talk-title-link {
    font-size: 26px;
    font-weight: normal;
    color: #0a6629;
}
.event__talk-description {
    line-height: 1.5;
    font-size: 12px;
    color: #404040;
}
.event__sponsors {
    position: relative;
    padding: 45px 0;
    clear: both;
    text-align: center;
    border-top: 4px double #c3c3c3;
}
.event__sponsors-header {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
}
.event__sponsors-header-text {
    display: inline-block;
    height: 24px;
    padding: 0 20px;
    line-height: 24px;
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    background: white;
}
.event__sponsor {
    margin-right: 70px;
    vertical-align: middle;
}
.event__sponsor:last-of-type {
    margin-right: 0;
}


/**
 * @subsection  Архив митапов
 */

.archive {
    padding: 15px 0;
    background: url(../images/backgrounds/archive.png) 0 0 repeat;
}
.archive-item {
    margin-bottom: 5px;
}
.archive-item__title {
    margin: 0 0 26px;
    line-height: 60px;
    font-size: 24px;
    font-weight: normal;
    border-bottom: 4px double #c3c3c3;
}
.archive-item__link {
    color: black;
}
.archive-item__number {
    color: #0a6629;
}
.archive-item__description {
    float: left;
    width: 304px;
    line-height: 1.2;
    font-size: 12px;
    color: #303030;
}
.archive-item__description p {
    margin: 0 0 8px;
}
.archive-item__talks {
    margin: 0 -20px 0 324px;
    list-style: none;
}
.archive-item__talk {
    display: inline-block;
    width: 50%;
    margin-bottom: 30px;
    vertical-align: top;
}
.archive-item__talk-avatar {
    width: 50px;
    height: 50px;
    float: left;
    overflow: hidden;
    border-radius: 25px;
}
.archive-item__talk-avatar img {
    width: 50px;
    height: 50px;
}
.archive-item__talk-wrapper {
    margin: 0 20px 0 70px;
}
.archive-item__talk-title {
    display: block;
    margin-bottom: 5px;
    line-height: 1.2;
    font-size: 14px;
    color: #0a6629;
}
.archive-item__talk-author {
    line-height: 1.2;
    font-size: 12px;
    color: #603913;
}


/**
 * @subsection  Карточка события
 */

.event-card {
    position: relative;
    z-index: 1;
    margin: 0 0 2em 2em;
    padding: 1em;
    float: right;
    background: #9b9575;
}
.event-card a {
    text-decoration: none;
}
.event-card__name {
    text-align: center;
    color: white;
    font-size: 160%;
    display: block;
}
.event-card__number {
    margin: 0.5em 0 1em;
    font-size: 150%;
}
.event-card__date {
    text-align: center;
    color: #fffff0;
    font-size: 160%;
}


/**
 * @section     Лайк митапа
 */

.like {}
.like__wrapper {
    height: 20px;
    padding: 20px 0 20px 160px;
    border-bottom: 1px solid #e5e5e5;
}
.like_item {
    display: inline-block;
    margin-right: 50px;
}


/**
 * @section     Анонс даша
 */

.dash {
    width: 25%;
    padding: 15px;
    vertical-align: top;
    text-align: center;
    border-left: 1px solid #ccb;
    border-right: 1px solid #ccb;
    background: #eee;
}
.dash__text {
    margin: 1.5em 0;
    line-height: 1.6;
    font-size: 140%;
    color: #333;
}
.dash__text_small {
    font-size: 120%;
    color: #555;
}
