/**
 * Подвал
 *
 * @package     moscowdjango
 * @version     0.1
 * @author      Golikov Artem <art@futurecolors.ru>
 * @copyright   Future Colors
 */


/**
 * @section     Подвал
 */

.footer {
    border-top: 1px solid #ccb;
    padding: 15px 0 30px;
}
.footer__menu {
    float: left;
}
.footer__menu-link {
    font-size: 140%;
    margin-right: 15px;
}
.footer__copyright {
    float: right;
    font-size: 140%;
}
.footer__copyright-link {
    color: black;
}
