/**
 * Галерея картинок
 *
 * @package     moscowdjango
 * @version     0.1
 * @author      Golikov Artem <art@futurecolors.ru>
 * @copyright   Future Colors
 */


/**
 * @section     Галерея картинок
 */

.gallery {
    margin-bottom: 30px;
    border-top: 4px double #c3c3c3;
}
.gallery__wrapper {
    margin-right: -20px;
}
.touch .gallery__wrapper {
    display: none;
}
.gallery__show-items {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    line-height: 12px;
    color: #0a6629;
    border-bottom: 1px dashed #0a6629;
}
.touch .gallery__show-items {
    display: inline-block;
}
.gallery__item {
    margin: 18px 18px 0 0;
    width: 176px;
    height: 132px;
    float: left;
    overflow: hidden;
}
.gallery__item img {
    width: 176px;
    min-height: 132px;
    cursor: pointer;
}
@media screen and (max-width: 640px) {
    .gallery {
        padding: 0 10px;
    }
}
@media screen and (max-width: 480px) {
    .gallery__item {
        margin: 18px 0;
        width: auto;
        height: auto;
        float: none;
        overflow: visible;
    }
    .gallery__item img {
        width: 94%;
        min-height: auto;
    }
}
