/**
 * Шапка сайта
 *
 * @package     moscowdjango
 * @version     0.1
 * @author      Golikov Artem <art@futurecolors.ru>
 * @copyright   Future Colors
 */


/**
 * @section     Шапка сайта
 */

.header {
    height: 110px;
    background: url(../images/backgrounds/header.png) 0 0 repeat;
}


/**
 * @subsection  Меню
 */

.menu {
    float: left;
    padding: 40px 0;
}
.menu__items {
    display: inline;
    margin: 0;
    list-style: none;
}
.menu__item {
    position: relative;
    padding-right: 40px;
    line-height: 30px;
    float: left;
}
.menu__item:before {
    content: "•";
    position: absolute;
    top: 0;
    right: 20px;
    line-height: 30px;
    color: #0a6629;
    cursor: default;
}
.menu__item:last-of-type:before {
    display: none;
}
.menu__link {
    text-transform: uppercase;
    line-height: 30px;
    font-size: 14px;
    color: #0a6629;
}
.menu__coming-soon {
    text-transform: uppercase;
    line-height: 30px;
    font-size: 14px;
    color: #888;
}


/**
 * @subsection  Поиск
 */

.search {
    float: left;
}
.search__query {
    vertical-align: middle;
}
.search__submit {
    vertical-align: middle;
    font-size: 140%;
}
.search__strut {
    display: inline-block;
    height: 35px;
    vertical-align: middle;
}



/**
 * @subsection  Меню пользователя
 */

.user-menu {
    float: right;
}
.user-menu__avatar {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    vertical-align: middle;
}
.user-menu__name {
    vertical-align: middle;
    text-decoration: none;
    font-size: 140%;
    color: #ccc;
}
