/**
 * Стили про митап
 *
 * @package     moscowdjango
 * @version     0.1
 * @author      Golikov Artem <art@futurecolors.ru>
 * @copyright   Future Colors
 */


/**
 * @section     Стили про митап
 */


/**
 * @subsection  Анонс митапа
 */

.meetup {
    margin: 30px 0;
}
.meetup_with-dash {
    margin-right: 15px;
}
.title {
    margin-bottom: 15px;
}
.title__logo {
    float: left
}
.title__name {
    margin: 0 0 0 120px;
    line-height: 2;
    font-size: 300%;
}
.title__description {
    margin-left: 120px;
    font-size: 160%;
    color: #777;
}
.title__date {
    margin-left: 120px;
    font-size: 160%;
}
.meetup__talks {
    list-style: none;
    width: 60%;
    float: left;
}
.meetup__talk {
    position: relative;
    padding: 0 0 15px 60px;
    min-height: 60px;
}
.meetup__talk-title {
    display: block;
    margin-bottom: 0.1em;
    font-size: 160%;
}
.meetup__talk-author {
    margin-bottom: 0.2em;
    font-size: 140%;
    color: #777;
}
.meetup__talk-avatar {
    position: absolute;
    top: 0;
    left: 0;
}
.meetup__talk-description {
    font-size: 120%;
}
.meetup__info {
    float: right;
    width: 35%;
    font-size: 140%;
}
.meetup__map {
    margin: 1em 0;
    height: 250px;
    border: 2px solid #3a2;
    background: #e7f2b3;
}
.meetup__links {
    margin: 1em 0 3em;
    float: right;
    width: 35%;
    list-style: none;
}
.meetup__link {
    position: relative;
    padding: 0 0 1.5em 2em;
}
.meetup__link-link {
    text-decoration: none;
}
.meetup__link-icon {
    position: absolute;
    top: 0;
    left: 1em;
    width: 16px;
    height: 16px;
    margin-left: -16px;
    vertical-align: middle;
}
.meetup__link-name {
    vertical-align: middle;
    text-decoration: underline;
    font-size: 150%;
}
.meetup__sponsors {
    margin: 1em 0;
    text-align: center;
}
.meetup__sponsor {
    margin: 10px 15px;
    vertical-align: middle;
}


/**
 * @subsection  Блок регистрации
 */

.register {
    float: right;
    margin: 15px 0 0 15px;
    background: #170;
    cursor: pointer;
}
.register_closed {
    background: #aaa;
}
.register__link {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
.register__finishing {
    font-size: 140%;
    font-style: italic;
    color: #ded;
}
.register__text {
    margin: 0.4em 0;
    font-size: 180%;
    color: white;
}
.register__registred {
    font-size: 140%;
    font-style: italic;
    color: #ded;
}
.register__summary {
    margin: 1.5em 1em;
    font-size: 140%;
    font-style: italic;
    color: #eee;
}


/**
 * @subsection  Архив митапов
 */

.archive {
    border-top: 1px solid #ccb;
    padding-top: 30px;
}
.archive-item {
    margin-bottom: 40px;
}
.archive-item__title {
    margin: 0 0 0.5em;
    line-height: 1.4;
    font-size: 240%;
}
.archive-item__gallery {
    position: relative;
    float: left;
    padding: 0 0 0 10px;
}
.archive-item__image {
    position: relative;
    padding: 4px;
    border: 1px solid #ccb;
    background: white;
}
.archive-item__image_second {
    position: absolute;
    top: 10px;
    left: 0px;
}
.archive-item__talks {
    margin: 0 0 0 250px;
    list-style: none;
}
.archive-item__talk {
    display: inline-block;
    width: 45%;
    margin: 0 3% 20px 0;
    vertical-align: top;
}
.archive-item__talk-title {
    display: block;
    margin-bottom: 0.2em;
    font-size: 140%;
}
.archive-item__talk-author {
    margin-right: 15px;
    font-size: 130%;
    color: #777;
}
.archive-item__talk-comments {
    display: inline-block;
    height: 16px;
    padding-left: 20px;
    line-height: 16px;
    text-decoration: none;
    font-size: 130%;
    color: #777;
    background: url(../images/icons/comment.png) 0 0 no-repeat;
}


/**
 * @subsection  Карточка события
 */

.event-card {
    position: relative;
    z-index: 1;
    margin: 0 0 2em 2em;
    padding: 1em;
    float: right;
    background: #9b9575;
}
.event-card a {
    text-decoration: none;
}
.event-card__name {
    text-align: center;
    color: white;
    font-size: 160%;
    display: block;
}
.event-card__number {
    margin: 0.5em 0 1em;
    font-size: 150%;
}
.event-card__date {
    text-align: center;
    color: #fffff0;
    font-size: 160%;
}


/**
 * @section     Лайк митапа
 */

.like {
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #ccb;
}
.like_item {
    display: inline-block;
    margin: 0 15px;
}


/**
 * @section     Анонс даша
 */

.dash {
    width: 25%;
    padding: 15px;
    vertical-align: top;
    text-align: center;
    border-left: 1px solid #ccb;
    border-right: 1px solid #ccb;
    background: #eee;
}
.dash__text {
    margin: 1.5em 0;
    line-height: 1.6;
    font-size: 140%;
    color: #333;
}
.dash__text_small {
    font-size: 120%;
    color: #555;
}
