/**
 * Страница докладчика
 *
 * @package     moscowdjango
 * @version     0.1
 * @author      Golikov Artem <art@futurecolors.ru>
 * @copyright   Future Colors
 */


/**
 * @section     Страница докладчика
 */


/**
 * @subsection  Summary докладчика
 */

.speaker {
    height: 140px;
    font-family: 'SansusWebissimoRegular', sans-serif;
    background: #0a6629;
    border-bottom: 10px solid #085221;
    overflow: hidden;
}
.speaker_size_small {
    display: inline-block;
    width: 48%;
    height: auto;
    vertical-align: top;
    background: none;
    border-bottom: none;
}
.speaker__link {
    text-decoration: none;
    color: #0a6629;
}
.speaker__photo {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 10px 0;
    overflow: hidden;
    float: left;
    border-radius: 57px;
}
.speaker_size_small .speaker__photo {
    width: 80px;
    height: 80px;
}
.speaker__photo img {
    width: 120px;
    height: 120px;
}
.speaker_size_small .speaker__photo img {
    width: 80px;
    height: 80px;
}
.speaker__name {
    margin-left: 160px;
    line-height: 140px;
    font-size: 33px;
    font-weight: normal;
    color: white;
}
.speaker_size_small .speaker__name {
    margin: 15px 0 5px 100px;
    line-height: 30px;
    font-size: 22px;
}
.speaker__link .speaker__name {
    color: #0a6629;
}
.speaker__company-name {
    padding-left: 10px;
    color: #92cc47;
}
.speaker__description {
    margin: 5px 10px 10px 100px;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    color: #603913;
}
@media screen and (max-width: 770px) {
    .speaker {
        height: 80px;
        clear: both;
    }
    .speaker_size_small {
        display: block;
        width: 100%;
    }
    .speaker__photo,
    .speaker__photo img {
        width: 60px;
        height: 60px;
    }
    .speaker__name {
        margin-left: 80px;
        line-height: 78px;
        font-size: 22px;
    }
}
@media screen and (max-width: 640px) {
    .speaker {
        height: auto;
        padding: 10px;
    }
    .speaker__photo {
        margin: 0;
    }
    .speaker__photo,
    .speaker__photo img {
        width: 40px;
        height: 40px;
    }
    .speaker__name {
        margin-left: 60px;
        line-height: 40px;
        font-size: 18px;
    }
}


/**
 * @subsection  Список выступлений
 */

.speaker-talks {
    padding-top: 20px;
}
.speaker-talks__item {
    margin: 0 0 50px 160px;
}
.speaker-talks__item-header {
    margin-bottom: 20px;
}
.speaker-talks__item-name {
    margin: 0;
    font-size: 31px;
    font-weight: normal;
    color: #0a6629;
}
.speaker-talks__item-name-link {
    text-decoration: none;
    color: #0a6629;
}
.speaker-talks__item-event {
    display: inline-block;
    margin-bottom: 5px;
    color: #603913;
    font-size: 14px;
}
.speaker-talks__item-description {
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 14px;
    color: #404040;
}
@media screen and (max-width: 770px) {
    .speaker-talks__item {
        margin: 0 0 25px 0;
    }
}
@media screen and (max-width: 640px) {
    .speaker-talks__item-name {
        font-size: 22px;
    }
}


/**
 * @section     Страница всех доклвадчиков
 */

.speakers {
    padding: 15px 0;
    border-top: 4px solid #0a6629;
    background: url(../images/backgrounds/archive.png) 0 0 repeat;
}
