/**
 * Выступление
 *
 * @package     moscowdjango
 * @version     0.1
 * @author      Golikov Artem <art@futurecolors.ru>
 * @copyright   Future Colors
 */


/**
 * @section     Выступление
 */

.talk {
    padding-top: 31px;
}
.talk__name {
    margin: 0 0 20px 160px;
    font-size: 31px;
    font-weight: normal;
    color: #0a6629;
}
.talk__about {}
.talk__about-aside {
    width: 136px;
    float: left;
    text-align: center;
}
.talk__avatar {
    display: inline-block;
    width: 114px;
    height: 114px;
    overflow: hidden;
    margin-bottom: 3px;
    border-radius: 57px;
}
.talk__avatar img {
    width: 114px;
    height: 114px;
}
.talk__speaker {
    line-height: 1.3;
    font-size: 12px;
    color: #603913;
}
.talk__description-wrapper {
    margin: 0 330px 10px 160px;
}
.talk__description {
    line-height: 1.5;
    font-size: 14px;
    color: #404040;
}
.talk__navigation {
    width: 304px;
    padding-bottom: 10px;
    float: right;
}
.talk__navigation-header {
    padding: 3px 0 14px;
    font-size: 14px;
    color: #404040;
}
.talk__others {
    margin: 0;
    list-style: disc;
}
.talk__others-item {
    margin: 0 0 12px 15px;
}
.talk__others-item-link {
    font-size: 14px;
    color: #0a6629;
}
.talk__others-item-current {
    font-size: 14px;
    color: #999
}
.talk__navigation-compact {
    display: none;
    max-width: 90%;
    vertical-align: middle;
    font-size: 11px;
}
.talk__resources {
    margin-left: 160px;
}
.talk__resource {
    margin-bottom: 20px;
}
.talk__resource iframe {
    max-width: 792px
}
.talk__resource-link {
    font-size: 14px;
    color: #0a6629;
}
/**
 * @css-for     Touch devices
 */
.touch .talk__others {
    display: none;
}
.touch .talk__navigation-compact {
    display: inline;
}
@media screen and (max-width: 770px) {
    .talk {
        padding-top: 10px;
    }
    .talk__navigation {
        width: auto;
        margin-left: 160px;
        float: none;
    }
    .talk__navigation-header {
        display: inline;
        font-size: 12px;
        color: #603913;
    }
    .talk__description-wrapper {
        margin-right: 0;
    }
    .talk__resources {
        clear: both;
    }
    .talk__resource iframe {
        max-width: 550px
    }
}
@media screen and (max-width: 640px) {
    .talk {
        padding-top: 0;
    }
    .talk__name {
        margin-left: 0;
        font-size: 22px;
    }
    .talk__resources {
        margin: 0;
        text-align: center;
    }
    .talk__resource iframe {
        max-width: 300px
    }
    .talk__about-aside {
        width: 110px;
        margin: 0 0 20px 10px;
        float: right;
    }
    .talk__navigation,
    .talk__description-wrapper {
        margin-left: 0;
    }
    .talk__description-wrapper {
        margin-bottom: 10px;
    }
    .talk__resource iframe {
        width: 94%;
        height: auto;
    }
}


/**
 * @section     Коментарии
 */

.comments {
    margin: 0 0 30px 160px;
}
.comments__copyright {
    font-size: 12px;
    color: #ddd;
}
.comments__copyright a {
    color: #ddd;
}
/* Disq.us forces this id */
.disqus_thread {
    min-height: 400px;
    margin: 0 0 2em;
}
@media screen and (max-width: 640px) {
    .comments {
        margin-left: 0;
    }
}
