{% load markup %}


<section class="archive">
    <div class="wrapper">
        {% for event in events %}
            <article class="archive-item">
                <h1 class="archive-item__title">
                    <a class="archive-item__link" href="{{ event.get_absolute_url }}">
                        {{ event.name }}
                        {% if event.number %}<span class="archive-item__number">№ {{ event.number }}</span>{% endif %}
                    </a>
                </h1>
                <div class="archive-item__description">
                    {{ event.description|restructuredtext }}
                </div>
                <ul class="archive-item__talks">
                    {% for talk in event.talks.all %}<!--
                     --><li class="archive-item__talk">
                        <a class="archive-item__talk-avatar" href="{{ talk.get_absolute_url }}">
                            <img src="{{ talk.speaker.avatar_url }}" width="50" height="50">
                        </a>
                        <div class="archive-item__talk-wrapper">
                            <a class="archive-item__talk-title" href="{{ talk.get_absolute_url }}">
                                {{ talk }}
                            </a>
                            <div class="archive-item__talk-author">
                                {{ talk.speaker }}
                                {% if talk.speaker.company_name %}
                                    ({{ talk.speaker.company_name }})
                                {% endif %}
                            </div>
                        </div>
                    </li><!--
                 -->{% endfor %}
                </ul>
                <div class="g-clear"></div>
            </article>
        {% endfor %}
    </div>
</section>