<div class="wrapper">
    <section class="event__talks">
        {% for talk in event.talks.all %}
            <article class="event__talk">
                <div class="event__talk-aside">
                                <span class="event__talk-avatar">
                                    <img src="{{ talk.speaker.avatar_url }}" width="68" height="68">
                                </span>
                    <div class="event__talk-speaker">
                        {{ talk.speaker }}
                        {% if talk.speaker.company_name %}
                            <div>({{ talk.speaker.company_name }})</div>
                        {% endif %}
                    </div>
                </div>
                <div class="event__talk-content">
                    <h3 class="event__talk-title">
                        <a class="event__talk-title-link" href="{{ talk.get_absolute_url }}">
                            {{ talk }}
                        </a>
                    </h3>
                    <div class="event__talk-description">
                        {{ talk.description|truncatewords:"25" }}
                    </div>
                </div>
                <div class="g-clear"></div>
            </article>
        {% endfor %}
    </section>
</div>