{% load pytils_dt markup %}


<section class="event__information">
    <section class="event__registration">
        <div class="event__registration-summary">
            {{ event.date|ru_strftime:"%d %B %Y, %H:%M" }}<br />
            {{ event.venue|default_if_none:"" }}<br />
            {{ event.venue.address }}<br />
        </div>
        {% if event.is_active %}
        <form action="http://moscowdjango.timepad.ru/event/28685">
            <button class="event__register-button" type="submit">
                <span class="event__register-button-text">Я тоже буду!</span>
            </button>
        </form>
        {% endif %}
        <div class="g-clear"></div>
    </section>
    <section class="event__description">
        {{ event.description|restructuredtext }}
    </section>
    <section class="media-coverage">
        <h1 class="media-coverage__header">Упоминания</h1>
        <ul class="media-coverage__list">
            <li class="media-coverage__item" style="background-image: url(http://blog.futurecolors.ru/favicon.ico)">
                <a class="media-coverage__link" href="http://blog.futurecolors.ru/2012/07/moscow-django-meetup-4-done.html">Moscow Django Meetup #4. Done.</a>
            </li>
            <li class="media-coverage__item" style="background-image: url(https://github.com/favicon.ico)">
                <a class="media-coverage__link" href="http://blog.futurecolors.ru/2012/07/moscow-django-meetup-4-done.html">Сказ о том, как я побывал на славном Moscow Django Meetup #4</a>
            </li>
        </ul>
    </section>
    {% if event.is_active %}
        {% include 'blocks/map.html' %}
    {% endif %}
</section>
