{% load url from future %}


<div class="subscription">
    <form method="POST" action="{% url 'subscribe' %}" class="js-subscription">
        {% csrf_token %}
        <h3 class="subscription__header">
            Подписаться на рассылку
        </h3>
        <input type="text" name="email" class="subscription__email" placeholder="e-mail" />
        <button class="subscription__submit" type="submit" name="submit_subscribe">
            <span class="subscription__submit-text">Подписаться</span>
        </button>
    </form>
    <div class="subscription__ok g-hide js-subscription-ok">
        Вы подписаны на рассылку
    </div>
    <div class="subscription__fail g-hide js-subscription-fail">
        Не удалось подписать вас на рассылку
    </div>
</div>
