{% extends 'layout/fotorama.html' %}


{% load static from staticfiles %}


{% block title %}{{ event }}{% endblock %}


{% block twitter %}
    {{ block.super }}
    <meta name="twitter:title" content="{{ event }}">
    <meta name="twitter:description" content="{{ event.description }}">
{% endblock %}


{% block page %}
    <section class="event">
        {% include 'blocks/event_header.html' %}
        <div class="container">
            {% include 'blocks/sidebar.html' %}
            {% include 'blocks/event_talks.html' %}
            {% include 'blocks/sponsors.html' %}
            {% include 'blocks/gallery.html' %}
            {% include 'blocks/share.html' %}
        </div>
    </section>
{% endblock %}
