{% extends 'layout/layout.html' %}


{% load static from staticfiles %}


{% block title %}Moscow Django Meetup{% endblock %}


{% block twitter %}
    {{ block.super }}
    <meta name="twitter:title" content="Moscow Python Meetup">
    <meta name="twitter:description" content="Moscow Python Meetup — это ежемесячные встречи разработчиков на Python.
Несколько человек выступают перед публикой с докладами, так или иначе связанными с веб-разработкой, Python и Django.
Не обходится и без самого интересного: общения в кулуарах.">
{% endblock %}


{% block page %}
    {% if main_event %}
      {% include 'blocks/main_event_header.html' with event=main_event %}
    {% endif %}

    <section id="about" class="section-about">
        <div class="container">
            <div class="body">
                <div class="heading-box">
                    <h1 class="heading"><span>О&nbsp;проекте</span></h1>
                    <a class="btn" href="https://bit.ly/mp-speaker" target="_blank">Предложить доклад</a>
                </div>
                <p>MoscowPython - сообщество, появившееся в 2012-м году под именем MoscowDjango.
                    Первая встреча, прошедшая в Высшей Школе Экономики собрала около 20 человек энтузиастов.
                    С течением времени стало понятно, что пришла необходимость расширить тематику встреч и
                    поменять название сообщества на то, что отражает эту широту - так на свет
                    появилось сообщество MoscowPython с обновлённым именем и сайтом.</p>

                <p>Сегодня на наши встречи собирается больше 200 человек и мы сотрудничаем с
                    такими компаниями как Mail.Ru Group, Rambler&co, Яндекс, #tceh и другими. Мы рады
                    объединять российское python-сообщество и вносить свой вклад в развитие IT-экосистемы.

                <h2>Администраторы сообщества:</h2>
                {% for executive in executives %}
                    <p class="executive">{{ executive.name }}{% if executive.company %} ({% if executive.link %}<a href="{{ executive.link }}" target="_blank">{% endif %}{{ executive.company }}{% if executive.link %}</a>{% endif %}){% endif %}</p>
                {% endfor %}

{#                <div class="text-center signup">#}
{#                    <a class="btn btn-signup btn-default btn-grey btn-large">Зарегистрироваться</a>#}
{#                </div>#}

            </div>
        </div>
    </section>

    {% include 'blocks/speakers.html' %}
    {% include 'blocks/archive.html' %}
{% endblock %}
