{% extends 'layout/layout.html' %}


{% load static from staticfiles %}


{% block title %}Moscow Django Meetup{% endblock %}


{% block twitter %}
    {{ block.super }}
    <meta name="twitter:title" content="Moscow Python Meetup">
    <meta name="twitter:description" content="Moscow Python Meetup — это ежемесячные встречи разработчиков на Python.
Несколько человек выступают перед публикой с докладами, так или иначе связанными с веб-разработкой, Python и Django.
Не обходится и без самого интересного: общения в кулуарах.">
{% endblock %}


{% block page %}
    {% if main_event %}
      {% include 'blocks/main_event_header.html' with event=main_event %}
    {% endif %}

    <section id="about" class="section-about">
        <div class="container">
            <div class="body">
                <h1 class="heading"><span>О&nbsp;проекте</span></h1>
                <p>Moscow Django Meetup — это ежемесячные встречи разработчиков на Джанго.</p>
                <p>Несколько человек выступают перед публикой с докладами, так или иначе связанными с веб-разработкой, Python и Django.</p>

                <p>Не обходится и без самого интересного: общения в кулуарах.</p>
                <p>Не обходится и без самого интересного: общения в кулуарах.</p>
                <p>Не обходится и без самого интересного: общения в кулуарах.</p>
                <p>Не обходится и без самого интересного: общения в кулуарах.</p>

                <p class="important">Участие во всех встречах <span>халявное</span>, что очень круто</p>

                <div class="text-center signup">
                    <a class="btn btn-signup btn-default btn-grey btn-large">Зарегистрироваться</a>
                </div>

            </div>
        </div>
    </section>

    {% include 'blocks/speakers.html' %}
    {% include 'blocks/archive.html' %}
{% endblock %}
