{% extends 'layout/layout.html' %}


{% load pytils_dt %}


{% block title %}{{ talk }} @ {{ talk.event }}{% endblock %}
{% block facebook %}{{ talk.speaker.avatar_url }}{% endblock %}
{% block twitter %}
    {{ block.super }}
    <meta name="twitter:title" content="{{ talk }}">
    <meta name="twitter:description" content="{{ talk.description }}">
    <meta name="twitter:image" content="{{ talk.speaker.avatar_url }}">
{% endblock %}

{% block page %}
    <section class="section-talk">
        {% include 'blocks/event_header.html' with event=talk.event %}
        <div class="container">
            <h1 class="talk__name">{{ talk }}{% if talk.status == "draft" %}<sup>draft</sup>{% endif %}</h1>
            <nav class="talk__navigation">
                <h2 class="talk__navigation-header">Доклады {{ talk.event }}</h2>
                <ul class="talk__others">
                    {% for other_talk in talk.event.talks.all %}
                        {% if other_talk.pk != talk.pk %}
                            <li class="talk__others-item">
                                <a class="talk__others-item-link" href="{{ other_talk.get_absolute_url }}">{{ other_talk }}</a>
                            </li>
                        {% else %}
                            <li class="talk__others-item">
                                <span class="talk__others-item-current">{{ other_talk }}</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <select class="talk__navigation-compact js-talk-navigation">
                    {% for other_talk in talk.event.talks.all %}
                        <option value="{{ other_talk.get_absolute_url }}"
                                {% if other_talk.pk == talk.pk %}selected="selected"{% endif %}>
                            {{ other_talk }}
                        </option>
                    {% endfor %}
                </select>
            </nav>

            <div class="talk__about">

                <div class="talk__about-aside">
                    <a href="{{ talk.speaker.get_absolute_url }}" class="avatar">
                        <img src="{{ talk.speaker.avatar_url }}" />
                    </a>
                    <a href="{{ talk.speaker.get_absolute_url }}" class="name">
                        {{ talk.speaker }}
                        {% if talk.speaker.company_name %}
                            <div>({{ talk.speaker.company_name }})</div>
                        {% endif %}
                    </a>
                </div>

                <div class="talk__description-wrapper">
                    <div class="talk__description">
                        {{ talk.description }}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <section class="talk-resources">
                <article class="talk-resources__item">
                    {% if talk.video_data %}
                        {{ talk.video_data.html|safe }}
                    {% endif %}
                </article>
                <article class="talk-resources__item">
                    {% if talk.presentation_data %}
                        {% if talk.presentation_data.type == 'link' %}
                            <a class="talk__resource-link" href="{{ talk.presentation_data.url }}">{{ talk }}</a>
                        {% else %}
                            {{ talk.presentation_data.html|safe }}
                        {% endif %}
                    {% endif %}
                </article>
            </section>
            <div class="clearfix"></div>
            {% include 'blocks/share.html' with page='talk' without_wrapper=1 %}
            {% include 'blocks/comments.html' %}
        </div>
    </section>
{% endblock %}


{% block js %}
    {{ block.super }}
    {% include 'blocks/disqus.html' %}
    <script type="text/javascript">
        $(function(){
            $('.js-talk-navigation').on('change', function(){
                location.href = $(this).val();
            });
        });
    </script>
{% endblock %}
