{% extends 'layout/layout.html' %}


{% load url from future %}
{% load pytils_dt %}

{% block title %}Вакансии @ Moscow Django {% endblock %}


{% block page %}
    <section class="content-page">
        <div class="wrapper">
            <h1 class="content-page__header">
                Вакансии <span class="content-page__header-counter">{{ vacancies|length }}</span>
            </h1>

            <div class="g-content">
                Здесь публикуются вакансии питонистов, интересные нашему сообществу.<br>
                Присылайте свои вакансии <a href="mailto:meet@moscowdjango.ru">на почту</a> или
                <a href="http://www.facebook.com/groups/MoscowDjango/">публикуйте в группе на фейсбуке</a>.<br><br>
            </div>

            <section class="vacancies">
                {% for vacancy in vacancies %}
                <article class="vacancy{% if vacancy.is_priority %} vacancy_weight_bold{% endif %}">
                    <a class="vacancy__link" href="{{ vacancy.get_absolute_url }}">
                        <span class="vacancy__company">{{ vacancy.company }}</span>
                        <span class="vacancy__name">{{ vacancy.name }}</span>
                        {% if vacancy.type == 'fulltime' %}
                            <span class="vacancy-type vacancy-type_fulltime_yes">Фултайм</span>
                        {% endif %}
                        {% if vacancy.type == 'contract' %}
                            <span class="vacancy-type vacancy-type_fulltime_no">Контракт</span>
                        {% endif %}
                        {% if vacancy.is_participant %}
                            <span class="vacancy-on-meetup" title="Представителей {{ vacancy.company }} можно встретить на митапе, чтобы задать вопросы">На meetup'е</span>
                        {% endif %}
                        <time class="vacancy-date" datetime="{{ vacancy.modified }}" title="Обновлено {{ vacancy.modified }}">{{ vacancy.modified|ru_strftime:"%d %B" }}</time>
                    </a>
                </article>
                {% endfor %}
            </section>
        </div>
    </section>
    {% include 'blocks/share.html' with page='vacancies' %}
{% endblock %}
