@import '../global-vars/index.css';

section.main {
    background-image: url(../images/section-main-bg.png);
    background-repeat: no-repeat;
    background-position:  center -80px;
    min-height: 600px;
    .header {
        @media screen and (max-width: $screen-xs) {
            padding-top: 7px;
        }
        padding-top: 47px;
        .arrow {
            display: inline-block;
            width: 150px;
            height: 146px;
            background-image: url(../images/arrow.png);
            background-repeat: no-repeat;
            background-position:  17px 15px;
            @media screen and (max-width: $screen-lg) {
                display: none;
            }
        }
        .heading {
            color: $colorWhite;
            padding-top: 0;
        }
    }
    .body {
        .program {
            display: inline-block;
            padding-top: 21px;
            min-height: 400px;
            background-image: url(../images/line.png);
            background-repeat: no-repeat;
            background-position: 163px 50px;

            .talk {
                width: 645px;
                margin-bottom: 36px;
                &:last-child {
                    margin-bottom: 0;
                }
                .announce {
                    display: inline-block;
                    background-color: $colorBlackAlpha;
                    border-radius: 5px;
                    width: 95px;
                    height: 63px;
                    padding: 12px 20px;
                    position: relative;
                    margin-right: 40px;
                    .speaker {
                        color: $colorRed;
                        text-align: right;
                        line-height: 1em;
                        font-size: 13px;
                    }
                    .time {
                        text-align: center;
                        color: $colorWhite;
                        font-size: 23px;
                        padding-top: 10px;
                        letter-spacing: 0;
                        sup {
                            font-size: 15px;
                        }
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 23px;
                        left: 100%;
                        width: 0;
                        height: 0;
                        border-bottom: 8px solid transparent;
                        border-top: 8px solid transparent;
                        border-left: 8px solid $colorBlackAlpha;
                        border-right: 8px solid transparent;
                    }
                }
                h2 {
                    color: $colorWhite;
                    display: inline-block;
                    text-transform: uppercase;
                    position: relative;
                    width: 420px;
                    padding-left: 26px;
                    padding-top: 8px;
                    letter-spacing: 0.11em;
                    &:before {
                        content: ' ';
                        display: block;
                        position: absolute;
                        top: 23px;
                        left: -23px;
                        width: 15px;
                        height: 15px;
                        border-radius: 50px;
                        background-color: $colorWhite;
                    }
                }
            }

            @media screen and (max-device-width: $screen-full) {
                .speech {
                    .announce {
                        width: 115px;
                        padding: 12px 10px;
                    }
                }
            }

            @media screen and (max-device-width: $screen-md-max) {
                .speech {
                    width: 600px;
                    h2 {
                        width: 330px;
                    }
                }
            }
            @media screen and (max-device-width: $screen-sm) {
                .speech {
                    h2 {
                        width: 300px;
                    }
                }
            }
            @media screen and (max-device-width: $screen-xs-max) {
                .speech {
                    h2 {
                        width: 250px;
                    }
                }
            }
            @media screen and (max-device-width: $screen-xs) {
                background-position: 120px 50px;
                min-height: initial;
                .speech {
                    width: auto;
                    .announce {
                        width: 90px;
                        height: 48px;
                        padding: 12px 5px;
                        .speaker {
                            font-size: 10px;
                        }
                        .time {
                            font-size: 15px;
                            sup {
                                font-size: 12px;
                            }
                        }
                    }
                    h2 {
                        width: 145px;
                        font-size: 11px;
                        padding-left: 0;
                        &:before {
                            left: -31px;
                        }
                    }
                }
            }
        }
        .signup-form-block {
            float: right;
            display: inline-block;
            background-color: $colorBlackAlpha;
            border-radius: 5px;
            width: 320px;
            min-height: 320px;
            padding: 15px;
            .signup-form {
                margin-top: 25px;
                padding-left: 10px;
                .submit {
                    padding-top: 17px;
                }
            }
            .title {
                background-image: url(../images/signup.png);
                background-position: 10px 10px;
                background-repeat: no-repeat;
                max-width: 275px;
                min-height: 55px;
                padding-left: 63px;
                padding-top: 10px;
                color: $colorWhite;
                font-size: 24px;
                line-height: 24px;
                text-transform: uppercase;
                letter-spacing: 0.077em;
                margin: 0 auto;
            }

            @media screen and (max-width: $screen-md) {
                width: 100%;
                float: none;

                min-height: 320px;
                padding: 5px;
                margin: 10px auto;
                text-align: center;
                input {
                    margin: 4px auto;
                    height: 35px;
                    width: 90%;
                    max-width: 250px;
                    display: block;
                }
            }
        }
    }
}


section.icons {
    min-height: 200px;
    background: $colorWhite;
    ul {
        li.icon-block {
            display: inline-block;
            width: 195px;
            height: 150px;
            a {
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                width: 100%;
                height: 100%;
                .icon-printer {
                    height: 100px;
                    background-image: url(../images/icons/printer.png);
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
            @media screen and (max-width: $screen-xs) {
                width: 100%;
                height: 100px;
                line-height: 100px;
                .icon {
                    width: 100px;
                    display: inline-block;
                }
                .text {
                    width: 170px;
                    vertical-align: middle;
                    display: inline-block;
                    line-height: normal;
                }
            }
        }
    }
}

section.about {
    background-image: url(../images/section-about-bg.png);
    background-repeat: no-repeat;
    background-position:  center center;
    background-color: $colorGray;
    height: 815px;
    @media screen and (max-width: $screen-xs) {
        background-image: url(../images/section-about-bg.png);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: $screen-sm;
        .body {
            width: 100%;
            .signup {
                .btn {
                    margin-left: 0;
                }
            }
        }
        .heading {
            span {
                font-size: 30px;
            }
        }
    }
    .body {
        margin-top: 14px;
        width: 65%;
        p.important {
            font-size: 24px;
            span {
                color: $colorRed;
            }
        }
        .signup {
            margin-top: 85px;
            .btn {
                margin-left: 75px;
            }
        }
    }
}

section.speakers {
    background: $colorWhite;
    min-height: 200px;
    .speakers {
        .speaker {
            display: inline-block;
            width: 196px;
            height: 264px;
            margin-top: 25px;
            .avatar {
                width: 100%;
                height: 182px;
                margin-bottom: 20px;
                text-align: center;
            }
            .name {
                a {
                    text-transform: uppercase;
                    color: $colorRed;
                    font-size: 18px;
                    text-decoration: none;
                    &:hover {
                        color: $colorDarkRed;
                    }
                }
            }
            &.new-speaker {
                a {
                    background: $colorRed;
                    display: inline-block;
                    width: 142px;
                    height: 182px;
                    text-decoration: none;
                    color: $colorWhite;
                    text-transform: uppercase;
                    font-size: 19px;
                    padding: 0 20px;
                    .star {
                        margin: 50px 0 40px 0;
                        font-size: 76px;
                    }
                    &:hover {
                        background-color: $colorDarkRed;
                    }
                }
            }
        }
    }
}

section.archive {
    background-color: $colorGray;
    .meetups {
        margin-top: 35px;
        &> li {
            width: 330px;
            display: inline-block;
            &:first-child {
                padding: 0;
            }
            &> h3 {
                text-transform: uppercase;
                font-size: 24px;
                margin-bottom: 25px;
            }
            .talks {
                .talk {
                    margin-bottom: 25px;
                    .avatar {
                        display: inline-block;
                        width: 70px;
                        height: 70px;
                        img {
                            width: 70px;
                            height: 70px;
                        }
                    }
                    .topic {
                        display: inline-block;
                        vertical-align: top;
                        width: 200px;
                        margin-left: 25px;
                        h3 {
                            font-size: 16px;
                            text-transform: none;
                            a {
                                text-decoration: none;
                                &:hover {
                                    opacity: 0.8;
                                }
                            }
                        }
                        .name {
                            padding-top: 5px;
                            a {
                                font-size: 20px;
                                text-transform: uppercase;
                                color: $colorRed;
                                text-decoration: none;
                                &:hover {
                                    color: $colorDarkRed;
                                    opacity: 0.8;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

section.contacts {
    background-color: $colorBlack;
    background-image: url(../images/section-contacts-bg.png);
    background-repeat: no-repeat;
    background-position:  center center;
    min-height: 593px;

    .header {
        display: inline-block;
        padding-top: 47px;
        .heading {
            color: $colorWhite;
            padding-top: 0;
            width: 460px;
            @media screen and (max-width: $screen-md) {
                width: auto;
            }
        }
        .subheading {
            text-transform: uppercase;
            color: $colorWhite;
            width: 380px;
            padding-left: 138px;
            margin-top: 50px;
            font-size: 25px;
            line-height: 25px;
        }
        .phone {
            background-image: url(../images/phone.png);
            background-position: 20px 15px;
            background-repeat: no-repeat;
            background-color: $colorBlackAlpha;
            border-radius: 5px;
            width: 220px;
            padding: 15px 15px 15px 50px;
            margin-top: 15px;
            margin-left: 138px;
            font-size: 25px;
            color: $colorWhite;
        }
    }

    .contact-form-block {
        display: inline-block;
        background-color: $colorBlackAlpha;
        border-radius: 5px;
        width: 320px;
        min-height: 320px;
        padding: 15px;
        margin-top: 66px;
        .contact-form {
            padding-left: 10px;
            .submit {
                padding-top: 17px;
            }
        }
        .title {
            background-image: url(../images/contact.png);
            background-position: 10px 10px;
            background-repeat: no-repeat;
            max-width: 275px;
            min-height: 55px;
            padding-left: 63px;
            padding-top: 10px;
            color: $colorWhite;
            font-size: 24px;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 0.077em;
            margin: 0 auto;
        }

        @media screen and (max-width: $screen-md) {
            width: 100%;
            float: none;

            min-height: 320px;
            padding: 5px;
            margin: 10px auto;
            text-align: center;
            input {
                margin: 4px auto;
                height: 35px;
                width: 90%;
                max-width: 250px;
                display: block;
            }
        }
    }

}
