{% extends 'layout/layout.html' %}

{% block page %}
    <section class="about">
        <p>Moscow Django Meetup &mdash; это ежемесячные встречи разработчиков на Джанго.</p>

        <p>Несколько человек выступают перед публикой с докладами, так или иначе связанными с веб-разработкой, Python и Django.
           <br/>Не обходится и без самого интересного: общения в кулуарах.
        </p>

        <p>Благодаря организаторам, встречи проходят в тёплой компании проектора и вай-фая. Последние два митапа
           были в чудесном <a href="http://modmoscow.com/">MOD Design</a>.</p>

        <p>Для тех, кто не может приехать, мы будем стараться проводить <a href="http://futurecolors.ru/live/">онлайн-трансляции</a>
           и выкладывать видео-записи выступлений.</p>

        <p>Участие во встречах бесплатное, надо только <a href="http://moscowdjango.timepad.ru/events">зарегистрироваться на событие</a>.</p>
    </section>
{% endblock %}