{% extends 'layout/layout.html' %}


{% load static from staticfiles %}


{% block title %}{{ event }}{% endblock %}


{% block page %}
    <section class="event">
        {% include 'blocks/event_header.html' %}
        <div class="wrapper">
            {% include 'blocks/sidebar.html' %}
            {% include 'blocks/event_talks.html'  %}
            {% include 'blocks/sponsors.html' %}
            {% include 'blocks/gallery.html' %}
        </div>
    </section>
{% endblock %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/colorbox.css' %}" type="text/css" />
{% endblock %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/libs/jquery-1.7.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jquery.colorbox-min.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            $('.gallery__show-items').on('click', function(){
                $(this)
                    .hide()
                    .closest('.gallery')
                    .find('.gallery__wrapper')
                    .show();
            });
        });
        if ($('html').hasClass('no-touch')) {
            $('.gallery__item-link').colorbox({
                maxWidth: $(window).width() * 0.9,
                maxHeight: $(window).height() * 0.9
            });
        }
    </script>
{% endblock %}
