{% extends 'layout/layout.html' %}


{% block title %}{{ event }}{% endblock %}


{% block page %}
    <div class="wrapper">
        <section class="event">
            <header class="event-title">
                <aside class="register register_closed">
                    <a class="register__link" href="">
                        <div class="register__summary">
                            Приняло участие 105 человек.
                        </div>
                    </a>
                </aside>
                <img class="event-title__logo" src="http://placehold.it/100x100" />
                <h1 class="event-title__name">{{ object }}</h1>
                <div class="event-title__date" title="Осталось 17 дней">
                    7 апреля 2012 г.
                </div>
                <div class="event-title__description">
                    {{ object.descripiton }}
                </div>
                <div class="g-clear"></div>
            </header>
            <ul class="event__talks">
                {% for talk in object.talks.all %}
                    <li class="event__talk">
                        <a class="event__talk-title" href="{{ talk.get_absolute_url }}">
                            {{ talk }}
                        </a>
                        <div class="event__talk-author">
                            {{ talk.speaker }} {% if talk.speaker.company_name %}({{ talk.speaker.company_name }}){% endif %}
                        </div>
                        <img class="event__talk-avatar" src="http://placehold.it/50x50" width="50" height="50" />
                        <div class="event__talk-description">
                            {{ talk.description }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="event__info">
                <p>Митап прошёл на Красной площади, 1 в бизнесцентре Кремль</p>
                {% include 'blocks/map.html' with event=object small=1 %}
            </div>
            <ul class="event__links">
                <li class="event__link">
                    <a href="" class="event__link-link">
                        <img class="event__link-icon" src="http://placehold.it/16x16" />
                        <span class="event__link-name">Анонс митапа на Хабре</span>
                    </a>
                </li>
                <li class="event__link">
                    <a href="" class="event__link-link">
                        <img class="event__link-icon" src="http://placehold.it/16x16" />
                        <span class="event__link-name">Отчёт о происходившем в блоге Future Colors</span>
                    </a>
                </li>
                <li class="event__link">
                    <a href="" class="event__link-link">
                        <img class="event__link-icon" src="http://placehold.it/16x16" />
                        <span class="event__link-name">Ещё одна ссылка. Илья, сколько их вообще может быть?</span>
                    </a>
                </li>
            </ul>
            <div class="g-clear"></div>
            <div class="event__sponsors">
                {% for sponsor in object.sponsors.all %}
                    <a href="{{ sponsor.get_absolute_url }}">
                        <img class="event__sponsor" src="{{ sponsor.logo.url }}" width="200" />
                    </a>
                {% endfor %}
            </div>

            {% if event.photos.exists %}
            <div class="gallery" data-width="700" data-height="467">
                {% for photo in event.photos.all %}
                <img src="{{ photo.get_absolute_url }}">
                {% endfor %}
            </div>
            {% endif %}

{# Закомментировал до момента появления дизайна #}
{#            <section class="event__gallery">#}
{#                <img class="event__gallery-image" src="http://placehold.it/200x120" width="200" height="120" />#}
{#                <img class="event__gallery-image" src="http://placehold.it/200x120" width="200" height="120" />#}
{#                <img class="event__gallery-image" src="http://placehold.it/200x120" width="200" height="120" />#}
{#                <img class="event__gallery-image" src="http://placehold.it/200x120" width="200" height="120" />#}
{#                <img class="event__gallery-image" src="http://placehold.it/200x120" width="200" height="120" />#}
{#            </section>#}
        </section>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/js/libs/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/static/js/libs/fotorama.js"></script>
    <script>
        $(function() {
            $('.gallery').fotorama({
                hash: true,
                fullscreenIcon: true
            });
        });
    </script>
{% endblock %}