{% extends 'layout/layout.html' %}


{% block title %}Moscow Django Meetup{% endblock %}


{% block page %}
    {% if next_event %}
        <section class="event">
            {% include 'blocks/event_header.html' with event=next_event %}
            {% include 'blocks/share.html' %}
            <div class="wrapper">
                {% include 'blocks/sidebar.html' with event=next_event %}
                {% include 'blocks/event_talks.html' with event=next_event %}
                {% include 'blocks/sponsors.html' with event=next_event %}
            </div>
        </section>
    {% endif %}
    {% include 'blocks/archive.html' %}
{% endblock %}
