{% extends 'layout/layout.html' %}


{% block title %}Прототип сайта Moscow Django Meetup{% endblock %}


{% block page %}
    {% if next_event %}
        {% include 'blocks/share.html' %}
        <section class="event">
            <div class="wrapper">
                <section class="event__talks">
                    {% for talk in next_event.talks.all %}
                        <article class="event__talk">
                            <div class="event__talk-aside">
                                <span class="event__talk-avatar"
                                   style="background: url(http://placehold.it/68x68)"
                                   href="{{ talk.get_absolute_url }}"></span>
                                <div class="event__talk-author">
                                    {{ talk.speaker }}
                                    {% if talk.speaker.company_name %}
                                        ({{ talk.speaker.company_name }})
                                    {% endif %}
                                </div>
                            </div>
                            <div class="event__talk-content">
                                <h3 class="event__talk-title">
                                    <a class="event__talk-title-link" href="{{ talk.get_absolute_url }}">
                                        {{ talk }}
                                    </a>
                                </h3>
                                <div class="event__talk-description">
                                    {{ talk.description|truncatewords:"25" }}
                                </div>
                            </div>
                            <div class="g-clear"></div>
                        </article>
                    {% endfor %}
                </section>
                <section class="event__sponsors">
                    <h1 class="event__sponsors-header">
                        <div class="event__sponsors-header-text">
                            Партнёры и спонсоры
                        </div>
                    </h1>
                    {% for sponsor in next_event.sponsors.all %}
                        <a href="{{ sponsor.get_absolute_url }}">
                            <img class="event__sponsor" src="{{ sponsor.logo.url }}" />
                        </a>
                    {% endfor %}
                </section>
                {% comment %}
                <header class="event-title">
                    <aside class="register">
                        <a class="register__link" href="">
                            <div class="register__finishing">
                                Регистрация открыта до 2 апреля
                            </div>
                            <div class="register__text">
                                Зарегистрироваться
                            </div>
                            <div class="register__registred">
                                Идут 78 человек
                            </div>
                        </a>
                    </aside>
                    <img class="event-title__logo" src="http://placehold.it/100x100" />
                    <h1 class="event-title__name">{{ next_event }}</h1>
                    <div class="event-title__date" title="Осталось 17 дней">
                        7 апреля 2012 г.
                    </div>
                    <div class="event-title__description">
                        {{ next_event.descripiton }}
                    </div>
                    <div class="g-clear"></div>
                </header>
                <div class="event__info">
                    <p>Django-движение в Москве набирает обороты. 3-й Django Meetup состоится 10-го мая в Москве.
                    <p>Встреча пройдёт в центре MOD Design по адресу Малый Конюшковский переулок, дом 2, метро Баррикадная.
                    <p>На мероприятии нас ждут 3 20-минутных и 2 10-минутных доклада.
                    {% include 'blocks/map.html' with event=next_event %}
                </div>
                <div class="g-clear"></div>
                <div class="event__sponsors">
                    {% for sponsor in next_event.sponsors.all %}
                        <a href="{{ sponsor.get_absolute_url }}">
                            <img class="event__sponsor" src="{{ sponsor.logo.url }}" width="200" />
                        </a>
                    {% endfor %}
                </div>
                {% endcomment %}
            </div>
        </section>
    {% endif %}
    <section class="archive">
        <div class="wrapper">
            {% for event in events %}
            <article class="archive-item">
                <h1 class="archive-item__title">
                    <a class="archive-item__link" href="{{ event.get_absolute_url }}">
                        {{ event }}
                        <span class="archive-item__number">№ 2</span>
                    </a>
                </h1>
                <div class="archive-item__description">
                    <p>
                        Django-движение в Москве набирает обороты. 3-й Django Meetup состоится 10-го мая в Москве.
                    </p>
                    <p>
                        Встреча пройдёт в центре MOD Design по адресу Малый Конюшковский переулок, дом 2,
                        метро Баррикадная.
                    </p>
                    <p>
                        На мероприятии нас ждут 3 20-минутных и 2 10-минутных доклада.
                    </p>
                </div>
                <ul class="archive-item__talks">
                    {% for talk in event.talks.all %}<!--
                     --><li class="archive-item__talk">
                            <a class="archive-item__talk-avatar"
                               style="background: url(http://placehold.it/50x50)"
                               href="{{ talk.get_absolute_url }}"></a>
                            <div class="archive-item__talk-wrapper">
                                <a class="archive-item__talk-title" href="{{ talk.get_absolute_url }}">
                                    {{ talk }}
                                </a>
                                <div class="archive-item__talk-author">
                                    {{ talk.speaker }}
                                    {% if talk.speaker.company_name %}
                                        ({{ talk.speaker.company_name }})
                                    {% endif %}
                                </div>
                            </div>
                        </li><!--
                 -->{% endfor %}
                </ul>
                <div class="g-clear"></div>
            </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
