{% extends 'layout/layout.html' %}


{% block title %}Moscow Django Meetup{% endblock %}


{% block page %}
    {% if next_event %}
        <section class="event">
            <header class="event__header">
                <div class="wrapper">
                    <div class="event__date">
                        7 апреля 2012
                    </div>
                    <div class="event__title">
                        Moscow Django
                        <span class="event__type">MeetUp</span>
                        № 3
                    </div>
                </div>
            </header>
            {% include 'blocks/share.html' %}
            <div class="wrapper">
                <section class="event__information">
                    <section class="event__registration">
                        <div class="event__registration-summary">
                            10 мая, 12:00<br />
                            Бизнес-центр “Романов Плаза”<br />
                            Регистрация открыта до 2 апреля
                        </div>
                        <form action="http://далеко">
                            <button class="event__register-button" type="submit">
                                <span class="event__register-button-text">Я тоже буду!</span>
                            </button>
                        </form>
                    </section>
                    <section class="event__description">
                        <p>
                            Django-движение в Москве набирает обороты. 3-й Django Meetup состоится 10-го мая в Москве.
                        </p>
                        <p>
                            Встреча пройдёт в центре MOD Design по адресу Малый Конюшковский переулок, дом 2, метро Баррикадная.
                        </p>
                    </section>
                    {% include 'blocks/map.html' with event=next_event %}
                </section>
                <section class="event__talks">
                    {% for talk in next_event.talks.all %}
                        <article class="event__talk">
                            <div class="event__talk-aside">
                                <span class="event__talk-avatar"
                                   style="background: url({{ talk.speaker.avatar_url }})"
                                   href="{{ talk.get_absolute_url }}"></span>
                                <div class="event__talk-author">
                                    {{ talk.speaker }}
                                    {% if talk.speaker.company_name %}
                                        <div>({{ talk.speaker.company_name }})</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="event__talk-content">
                                <h3 class="event__talk-title">
                                    <a class="event__talk-title-link" href="{{ talk.get_absolute_url }}">
                                        {{ talk }}
                                    </a>
                                </h3>
                                <div class="event__talk-description">
                                    {{ talk.description|truncatewords:"25" }}
                                </div>
                            </div>
                            <div class="g-clear"></div>
                        </article>
                    {% endfor %}
                </section>
                <section class="event__sponsors">
                    <h1 class="event__sponsors-header">
                        <div class="event__sponsors-header-text">
                            Партнёры и спонсоры
                        </div>
                    </h1>
                    {% for sponsor in next_event.sponsors.all %}
                        <a class="event__sponsor" href="{{ sponsor.get_absolute_url }}"><!--
                         --><img class="event__sponsor" src="{{ sponsor.logo.url }}" /><!--
                     --></a>
                    {% endfor %}
                </section>
            </div>
        </section>
    {% endif %}
    <section class="archive">
        <div class="wrapper">
            {% for event in events %}
            <article class="archive-item">
                <h1 class="archive-item__title">
                    <a class="archive-item__link" href="{{ event.get_absolute_url }}">
                        {{ event.name }}
                        {% if event.number %}<span class="archive-item__number">№ {{ event.number }}</span>{% endif %}
                    </a>
                </h1>
                <div class="archive-item__description">
                    {{ event.description|linebreaks }}
                </div>
                <ul class="archive-item__talks">
                    {% for talk in event.talks.all %}<!--
                     --><li class="archive-item__talk">
                            <a class="archive-item__talk-avatar"
                               style="background: url({{ talk.speaker.avatar_url }}"
                               href="{{ talk.get_absolute_url }}"></a>
                            <div class="archive-item__talk-wrapper">
                                <a class="archive-item__talk-title" href="{{ talk.get_absolute_url }}">
                                    {{ talk }}
                                </a>
                                <div class="archive-item__talk-author">
                                    {{ talk.speaker }}
                                    {% if talk.speaker.company_name %}
                                        ({{ talk.speaker.company_name }})
                                    {% endif %}
                                </div>
                            </div>
                        </li><!--
                 -->{% endfor %}
                </ul>
                <div class="g-clear"></div>
            </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
