{% extends 'layout/layout.html' %}


{% block title %}Докладчики @ Moscow Django{% endblock %}


{% block page %}
    <section class="speakers">
        <div class="wrapper">
            <article class="speaker speaker_size_small">
                <a class="speaker__link" href="">
                    <span class="speaker__photo">
                        <img src="http://cs862.userapi.com/u27253/a_0227ea38.jpg" alt="">
                    </span>
                    <h2 class="speaker__name">
                        Артём Голиков
                    </h2>
                    <div class="speaker__description">
                        Изучал теологию в сибири.
                        Верстает методом прогрессивного wtf'а.
                        Бла бла бла бла бла бла бла бла бла бла бла бла.
                    </div>
                </a>
            </article>
            <article class="speaker speaker_size_small">
                <a class="speaker__link" href="">
                    <span class="speaker__photo">
                        <img src="http://cs862.userapi.com/u27253/a_0227ea38.jpg" alt="">
                    </span>
                    <h2 class="speaker__name">
                        Артём Голиков
                    </h2>
                    <div class="speaker__description">
                        Изучал теологию в сибири.
                        Верстает методом прогрессивного wtf'а.
                        Бла бла бла бла бла бла бла бла бла бла бла бла.
                    </div>
                </a>
            </article>
            <article class="speaker speaker_size_small">
                <a class="speaker__link" href="">
                    <span class="speaker__photo">
                        <img src="http://cs862.userapi.com/u27253/a_0227ea38.jpg" alt="">
                    </span>
                    <h2 class="speaker__name">
                        Артём Голиков
                    </h2>
                    <div class="speaker__description">
                        Изучал теологию в сибири.
                        Верстает методом прогрессивного wtf'а.
                        Бла бла бла бла бла бла бла бла бла бла бла бла.
                    </div>
                </a>
            </article>
        </div>
    </section>
{% endblock %}
