{% extends 'layout/layout.html' %}


{% load pytils_dt %}


{% block title %}{{ talk }}{% endblock %}

{% block page %}
    <section class="talk">
        <div class="wrapper">
            <aside class="event-card">
                <a href="{{ talk.event.get_absolute_url }}">
                    <div class="event-card__name">
                        {{ talk.event.name }}
                        <div class="event-card__number">
                            № {{ talk.event.number }}
                        </div>
                    </div>
                    <div class="event-card__date">
                        {{ talk.event.date|ru_strftime:"%d %B %Y" }}
                    </div>
                </a>
            </aside>
            <header class="talk__summary">
                <img class="talk__speaker-avatar" src="http://placehold.it/150x150" />
                <h1 class="talk__name">{{ talk }}</h1>
                <div class="talk__speaker">
                    {{ talk.speaker }},
                    {{ talk.speaker.company_name }}
                </div>
                <div class="talk__description">
                    {{ talk.description }}
                </div>
                <div class="talk__level">
                    Advanced
                </div>
                <button class="talk__download">
                    Скачать слайды
                </button>
            </header>
            <section class="talk__resources">
                <article class="talk__resource">
                    {% if talk.video_data %}
                        {{ talk.video_data.html|safe }}
                    {% endif %}
                </article>
                <article class="talk__resource">
                    {% if talk.presentation_data %}
                        {% if talk.presentation_data.type == 'link' %}
                            <a href="{{ talk.presentation_data.url }}">{{ talk }}</a>
                        {% else %}
                            {{ talk.presentation_data.html|safe }}
                        {% endif %}
                    {% endif %}
                </article>
            </section>
            <div id="disqus_thread"></div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        var disqus_shortname = 'moscowdjango';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}
