{% extends 'layout/layout.html' %}


{% load pytils_dt %}


{% block title %}{{ talk }} @ {{ talk.event }}{% endblock %}

{% block page %}
    <div class="event-header">
        <div class="wrapper">
            <div class="event__date">
                7 апреля 2012
            </div>
            <div class="event__title">
                Moscow Django
                <span class="event__type">MeetUp</span>
                № 3
            </div>
        </div>
    </div>
    <section class="talk">
        <div class="wrapper">
            <h1 class="talk__name">{{ talk }}</h1>
            <section class="talk__about">
                <div class="talk__about-aside">
                    <span class="talk__avatar">
                        <img class="" src="http://placehold.it/150x150" />
                    </span>
                    <div class="talk__speaker">
                        {{ talk.speaker }}
                        {% if talk.speaker.company_name %}
                            <div>({{ talk.speaker.company_name }})</div>
                        {% endif %}
                    </div>
                </div>
                <nav class="talk__navigation">
                    <div class="talk__navigation-header">Доклады Moscow Django MeetUp №3</div>
                    <ul class="talk__others">
                        <li class="talk__others-item">
                            <a class="talk__others-item-link" href="">Django на Android</a>
                        </li>
                        <li class="talk__others-item">
                            <span class="talk__others-item-current">Производительность в Django</span>
                        </li>
                        <li class="talk__others-item">
                            <a class="talk__others-item-link"  href="">Работа со статикой в Django</a>
                        </li>
                        <li class="talk__others-item">
                            <a class="talk__others-item-link"  href="">Разработка расширяемых приложений</a>
                        </li>
                        <li class="talk__others-item">
                            <a class="talk__others-item-link"  href="">Class-based generic views в Django</a>
                        </li>
                    </ul>
                </nav>
                <div class="talk__description-wrapper">
                    <div class="talk__description">
                        {{ talk.description }}
                    </div>
                </div>
            </section>
            <section class="talk__resources">
                <article class="talk__resource">
                    {% if talk.video_data %}
                        {{ talk.video_data.html|safe }}
                    {% endif %}
                </article>
                <article class="talk__resource">
                    {% if talk.presentation_data %}
                        {% if talk.presentation_data.type == 'link' %}
                            <a class="talk__resource-link" href="{{ talk.presentation_data.url }}">{{ talk }}</a>
                        {% else %}
                            {{ talk.presentation_data.html|safe }}
                        {% endif %}
                    {% endif %}
                </article>
            </section>
            <div class="g-clear"></div>
            <section class="comments">
                <div id="disqus_thread"></div>
                <footer class="comments__copyright">
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                </footer>
            </section>
        </div>
    </section>
{% endblock %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        var disqus_shortname = 'moscowdjango';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
{% endblock %}
