{% load markup %}
{% load static from staticfiles %}


<section id="archive" class="section-archive">
    <div class="container">
        <h1 class="heading"><a href="{% url "events" %}"><span>Meetup Архив</span></a></h1>
        <!-- DEBUG -->
        <ul class="meetups">
            {% for event in events %}
                <li{% if event.status == "draft" %} class="draft"{% endif %}>
                    <h3><a href="{{ event.get_absolute_url }}">Meetup №{{ event.number }}</a>{% if event.status == "draft" %}<sup>draft</sup>{% endif %}</h3>
                    <ul class="talks">
                        {% for talk in event.talks.all %}
                            <li class="talk">
                                <div class="avatar">
                                    <a class="archive-item__talk-avatar" href="{{ talk.get_absolute_url }}">
                                        <img src="{{ talk.speaker.avatar_url }}" width="50" height="50">
                                    </a>
                                </div>
                                <div class="topic">
                                    <h3><a class="archive-item__topic" href="{{ talk.get_absolute_url }}">{{ talk.name }}</a></h3>
                                    <div class="name"><a class="archive-item__speaker" href="{{ talk.speaker.get_absolute_url }}">{{ talk.speaker.name }}</a></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>

        {% if show_more_link %}
            <div class="meetups-more text-right">
                <a href="{% url "events" %}" class="btn">Все события</a>
            </div>
        {% endif %}

    </div>
</section>
