{% load markup %}
{% load static from staticfiles %}


<section id="section-archive" class="archive">
    <div class="container">
        <h1 class="heading"><span>Meetup Архив</span></h1>
        <ul class="meetups">
            <li>
                <h3>Meetup №27</h3>
                <ul class="speeches">
                    <li class="speech">
                        <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                        <div class="theme">
                            <h3>Обзор и сравнение методов реализации REST API в django</h3>
                            <div class="name">Имя Фамилия</div>
                        </div>
                    </li>
                    <li class="speech">
                        <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                        <div class="theme">
                            <h3>Обзор и сравнение методов реализации REST API в django</h3>
                            <div class="name">Имя Фамилия</div>
                        </div>
                    </li>
                    <li class="speech">
                        <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                        <div class="theme">
                            <h3>Обзор и сравнение методов реализации REST API в django</h3>
                            <div class="name">Имя Фамилия</div>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Meetup №27</h3>
                <ul class="speeches">
                    <li class="speech">
                        <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                        <div class="theme">
                            <h3>Обзор и сравнение методов реализации REST API в django</h3>
                            <div class="name">Имя Фамилия</div>
                        </div>
                    </li>
                    <li class="speech">
                        <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                        <div class="theme">
                            <h3>Обзор и сравнение методов реализации REST API в django</h3>
                            <div class="name">Имя Фамилия</div>
                        </div>
                    </li>
                    <li class="speech">
                        <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                        <div class="theme">
                            <h3>Обзор и сравнение методов реализации REST API в django</h3>
                            <div class="name">Имя Фамилия</div>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Meetup №27</h3>
                <ul class="speeches">
                    <li class="speech">
                        <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                        <div class="theme">
                            <h3>Обзор и сравнение методов реализации REST API в django</h3>
                            <div class="name">Имя Фамилия</div>
                        </div>
                    </li>
                    <li class="speech">
                        <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                        <div class="theme">
                            <h3>Обзор и сравнение методов реализации REST API в django</h3>
                            <div class="name">Имя Фамилия</div>
                        </div>
                    </li>
                    <li class="speech">
                        <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                        <div class="theme">
                            <h3>Обзор и сравнение методов реализации REST API в django</h3>
                            <div class="name">Имя Фамилия</div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</section>
