{% load pytils_dt %}


<section id="section-main" class="main">
    <div class="container">
        <div class="header">
            <h1 class="heading"><span>{{ main_event.name }} №{{ main_event.number }}</span></h1>
            <div class="arrow"></div>
        </div>
        <div class="body">
            <div class="signup-form-block">
                <h3 class="title">Принять участие в Meetup №{{ main_event.number }}</h3>
                <form class="signup-form">
                    <input type="text" placeholder="Ваше имя">
                    <input type="email" placeholder="Email">
                    <input type="text" placeholder="Телефон">
                    <div class="text-center submit">
                        <a class="btn btn-signup signup btn-large">Зарегистрироваться</a>
                    </div>
                </form>
            </div>
            <div class="program">
                {% for talk in main_event.talks.all %}
                <div class="talk">
                    <div class="announce">
                        <div class="speaker">{{ talk.speaker.name }}</div>
                        <div class="time">{{ talk.get_time_start.hour|stringformat:"02d" }}<sup>{{ talk.get_time_start.minute|stringformat:"02d" }}</sup>-{{ talk.get_time_end.hour|stringformat:"02d" }}<sup>{{ talk.get_time_end.minute|stringformat:"02d" }}</sup></div>
                    </div>
                    <h2>{{ talk.name }}</h2>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{#<header class="event-header">#}
{#    <div class="wrapper">#}
{#        {% if event.date %}#}
{#        <div class="event__date">#}
{#            {{ event.date|ru_strftime:"%d %B %Y" }}#}
{#        </div>#}
{#        {% endif %}#}
{#        <div class="event__title">#}
{#            Moscow Django#}
{#            <span class="event__type">MeetUp</span>#}
{#            № {{ event.number }}#}
{#        </div>#}
{#    </div>#}
{#</header>#}
