{% load static from staticfiles %}


<section id="section-speakers" class="speakers">
    <div class="container">
        <h1 class="heading"><span>Люди</span></h1>
        <ul class="speakers text-center">
            {% for speaker in speakers %}
                <li class="speaker text-center">
                    <div class="avatar"><a href="{{ speaker.get_absolute_url }}"><img src="{{ speaker.avatar_url }}" align="center"></a></div>
                    <div class="name"><a href="{{ speaker.get_absolute_url }}">{{ speaker.name }}</a></div>
                    <div class="desc">{{ speaker.company_name }}</div>
                </li>
            {% endfor %}
            <li class="speaker new-speaker text-center"><a href="#">
                <div class="star">&#9733;</div>
                Выступить с&nbsp;докладом
            </a></li>
        </ul>
    </div>
</section>
