{% load static from staticfiles %}


<section id="section-speakers" class="speakers">
    <div class="container">
        <h1 class="heading"><span>Люди</span></h1>
        <ul class="speakers text-center">
            <li class="speaker text-center">
                <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}" align="center"></div>
                <div class="name">Фамилия Длинноимя</div>
                <div class="desc">Компания наверное</div>
            </li>
            <li class="speaker text-center">
                <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                <div class="name">Фамилия Длинноимя</div>
                <div class="desc">Компания наверное</div>
            </li>
            <li class="speaker text-center">
                <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                <div class="name">Фамилия Длинноимя</div>
                <div class="desc">Компания наверное</div>
            </li>
            <li class="speaker text-center">
                <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                <div class="name">Фамилия Длинноимя</div>
                <div class="desc">Компания наверное</div>
            </li>
            <li class="speaker text-center">
                <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                <div class="name">Фамилия Длинноимя</div>
                <div class="desc">Компания наверное</div>
            </li>
            <li class="speaker text-center">
                <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                <div class="name">Фамилия Длинноимя</div>
                <div class="desc">Компания наверное</div>
            </li>
            <li class="speaker text-center">
                <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                <div class="name">Фамилия Длинноимя</div>
                <div class="desc">Компания наверное</div>
            </li>
            <li class="speaker text-center">
                <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                <div class="name">Фамилия Длинноимя</div>
                <div class="desc">Компания наверное</div>
            </li>
            <li class="speaker text-center">
                <div class="avatar"><img src="{% static 'images/tmp/avatar1.jpg' %}"></div>
                <div class="name">Фамилия Длинноимя</div>
                <div class="desc">Компания наверное</div>
            </li>
            <li class="speaker new-speaker text-center"><a href="#">
                <div class="star">&#9733;</div>
                Выступить с&nbsp;докладом
            </a></li>
        </ul>
    </div>
</section>
