{% load static %}

<section id="speakers" class="section-speakers">
    <div class="container">
        <h1 class="heading"><a href="{% url "speakers" %}"><span>Люди</span></a></h1>
        <ul class="speakers text-center">
            {% for speaker in speakers %}
                <li class="speaker text-center">
                    <div class="avatar"><a href="{{ speaker.get_absolute_url }}"><img src="{{ speaker.avatar_url }}" align="center" width=""></a></div>
                    <div class="name"><a href="{{ speaker.get_absolute_url }}">{{ speaker.name }}</a></div>
                    <div class="desc">{{ speaker.company_name }}</div>
                </li>
            {% endfor %}
{#            Temporary disable #}
{#            <li class="speaker new-speaker text-center"><a href="#">#}
{#                <div class="star">&#9733;</div>#}
{#                Выступить с&nbsp;докладом#}
{#            </a></li>#}
        </ul>
            {% if show_more_link %}
            <div class="speakers-more text-right">
                <a href="{% url "speakers" %}" class="btn">Все спикеры</a>
            </div>
        {% endif %}
        <div class="text-center signup">
        </div>
    </div>
</section>
