<div class="event__sponsors">
    <h1 class="event__sponsors-header heading">
        <span class="event__sponsors-header-text">
            Организаторы
        </span>
    </h1>
    <div class="event__sponsors__icons">
        {% for sponsor in event.sponsors.organizers %}
            <a href="{{ sponsor.get_absolute_url }}">
                <img class="event__sponsor" src="{{ sponsor.logo.url }}" height="50"/>
            </a>
        {% endfor %}
    </div>
</div>
{% if event.sponsors.partners.count %}
    <div class="event__sponsors">
        <h1 class="event__sponsors-header heading">
            <span class="event__sponsors-header-text">
                Партнёры
            </span>
        </h1>
        <div class="event__sponsors__icons">
            {% for sponsor in event.sponsors.partners %}
                <a href="{{ sponsor.get_absolute_url }}">
                    <img class="event__sponsor" src="{{ sponsor.logo.url }}" />
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}
